<template>
    <div>

        <section class="content">
            <div class="row" >
                <div class="col-md-6 col-lg-4">
                    <div class="tr-causes">
                      <div class="causes-thumb">
                        <img src="temp/images/causes/user1.jpg" alt="Image" class="img-fluid">
                        <div class="tr-overlay">
                        <div class="tr-paragraph">
                            <p>Vous avez </p> {{$message}} <p> utilisateurs enregistrés. Cliquez sur le bouton ci-dessous pour afficher tous les utilisateurs.</p>
                        </div>

                        <li><router-link to="/ListeUsers"  target="_self" class="nav-link">Voir tous les utilisateurs</router-link></li>
                         </div>
                      </div>

            </div><!-- /.tr-causes -->
        </div>
                <div class="col-md-6 col-lg-4">
                    <div class="tr-causes">
                        <div class="causes-thumb">
                            <img src="temp/images/causes/aaaa.jpg" alt="Image" class="img-fluid">
                            <div class="tr-overlay">
                                <div class="tr-paragraph">
                                    <p>Vous avez 4 articles enregistrés. Cliquez sur le bouton ci-dessous pour afficher tous les articles.</p>
                                </div>
                                <li><router-link to="/ListePub"  target="_self" class="nav-link">voir tous les articles</router-link></li>
                            </div>
                        </div>

                    </div><!-- /.tr-causes -->
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="tr-causes">
                        <div class="causes-thumb">
                            <img src="temp/images/causes/rec.jfif" alt="Image" class="img-fluid">
                            <div class="tr-overlay">
                                <div class="tr-paragraph">
                                    <p>Vous avez 4 reclamations enregistrés. Cliquez sur le bouton ci-dessous pour afficher tous les reclamations.</p>
                                </div>

                                <li><router-link to="/ConsulterRec"  target="_self" class="nav-link">voir tous les reclamations</router-link></li>
                            </div>
                        </div>

                    </div><!-- /.tr-causes -->
                </div>




                    </div>
                </section>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                user:{}
            }
        },
        methods(){

        },
        mounted(){
            this.user=$message;
        }
    }
</script>
