<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">

                <div class="row">
                    <div class="col-md-7">


                        <form @submit.prevent="addbatir()">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>demande:</label>
                                        <input type="text" class="form-control" v-model="vocation.demande" name="demande">
                                        <span v-if="errors.demande" class="text-danger"  >{{errors.demande[0]}}</span>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>cin_scan:</label>
                                        <input type="text" class="form-control" v-model="vocation.cin_scan" name="cin_scan">
                                        <span v-if="errors.cin_scan" class="text-danger"  > {{errors.cin_scan[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>permis_de_batir:</label>
                                        <input type="text" class="form-control" v-model="vocation.permis_de_batir" name="permis_de_batir">
                                        <span v-if="errors.permis_de_batir" class="text-danger"  > {{errors.permis_de_batir[0]}}</span>
                                    </div>
                                </div>


                            <input type="submit" class="btn btn-primary btn-full" value="Submit your message">
                            </div>
                        </form>



                    </div>

                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-contact-section -->
</template>

<script>
    export default {
        data(){
            return {
                vocation:{},
                errors:[]
            }
        },
        methods: {
            test(){
                this.axios.post('/api/vocation', this.vocation);
            },
            addbatir(){

                this.errors=[];
                this.axios.post('/api/vocation', this.vocation).then((response) => {


                    this.$router.push({name: 'Vocation'})
                    toast.fire({
                        type: 'success',
                        title: 'vocation added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        }
    }
</script>
