<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Edit vocation</h1>
                <form @submit.prevent="updatevocation">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>demande:</label>
                                <input type="text" class="form-control" v-model="vocation.demande" name="demande">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>cin_scan:</label>
                                <input type="text" class="form-control" v-model="vocation.cin_scan" name="cin_scan">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>permis_de_batir:</label>
                                <input type="text" class="form-control" v-model="vocation.permis_de_batir" name="permis_de_batir">

                            </div>
                        </div>
                    </div><br />

                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                vocation: {}
            }
        },
        created() {
            let uri = `api/vocation/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.vocation = response.data;
            });
        },
        methods: {
            updatevocation() {
                let uri = `api/vocation/${this.$route.params.id}`;
                this.axios.patch(uri, this.vocation).then((response) => {
                    toast.fire({
                        type: 'success',
                        title: 'vocation Updated successfully'
                    })
                    this.$router.push({name: 'Vocation'});
                });
            }
        }
    }
</script>