<template>
    <div >
        <h1>Vocation</h1>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-6">
                <router-link :to="{ name: 'Addvocation' }" class="btn btn-primary">Create Vocation</router-link>





            </div>
        </div><br />
        <div  style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
            <tr id="voc2">
                <th>ID</th>
                <th >demande</th>
                <th >cin_scan</th>
                <th >permis_de_batir</th>
                <th>edit</th>
                <th>delete</th>



            </tr>
            </thead>
            <tbody>
            <tr id ="voc" v-for="vocation in vocations" :key="vocation.id">
                <td>{{vocation.id }}</td>
                <td>{{vocation.demande }}</td>
                <td>{{vocation.cin_scan}}</td>
                <td>{{vocation.permis_de_batir }}</td>

                <td><router-link :to="{name: 'Editvocation', params: { id: vocation.id }}" class="btn btn-primary">Edit</router-link></td>
                <td><button class="btn btn-danger" @click.prevent="deletevocation(vocation.id)">Delete</button>
                    <button  @click="getPDF">
                        download pdf
                    </button></td>

            </tr>

            </tbody>
        </table>
        </div>
        <div class="pagination">
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">

                Previous
            </button>


            <span> {{pagination.current_page}} Page Of {{pagination.last_page}}</span>
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.next_page_url)" :disabled="!pagination.next_page_url">

                Next
            </button>
        </div>
    </div>
</template>


<script>

    import jsPDF from 'jspdf'
    export default {

        data() {
            return {
                vocations: [],
                pagination:[],
                url:'api/vocation'

            }

        },
        created(){


            this.getAll();

        },
        methods: {



            getAll(){
                this.axios.get(this.url).then(response => {
                    this.vocations = response.data.data

                    this.makePagination(response.data)
                });
            },
            deletevocation(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/vocation/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },

            getPDF(){

                var doc = new jsPDF();
                doc.fromHTML(document.getElementById("voc2"), 20,20,{'width':200});//<-- not good. How can I refactor this?

                doc.fromHTML(document.getElementById("voc"), 40,20,{'width':200});//<-- not good. How can I refactor this?

                doc.save("mypdf.pdf");

            },
            makePagination(data){
                let pagination= {
                    current_page:data.current_page,
                    last_page:data.last_page,
                    prev_page_url:data.prev_page_url,
                    next_page_url:data.next_page_url

                }
                this.pagination=pagination

            },
            fetchPaginatePubs(url){
                this.url=url;
                this.getAll();

            }

        }


    }


</script>
