<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14144.201025927503!2d10.764923281125336!3d35.63820758097208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x42e3d37fe43ffa53!2sMunicipalit%C3%A9+de+Zaouiet+Kontech!5e0!3m2!1sfr!2stn!4v1560125675351!5m2!1sfr!2stn"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
        </div>
    </div>
</template>