<template>
    <div>





        <div id="causes" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">

                        <details >
                            <summary><strong class="btn btn-primary">Arrêté d’approbation d’un lotissement</strong></summary>

                          <div >
                                <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="height: 137.75pt;">
                                        <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                            <p>

                                Conditions d’obtention de la prestation
                            </p>
                            </td>
                            <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                <p>
                                    -    Etre propriétaire du terrain objet de lotissement ou légalement mandaté à cet effet.   <br>

                                    -    La vocation du terrain doit être conforme à l'affectation qui lui est faite au plan d'aménagement de la zone.   <br>

                                    -    Le dépôt d'un dossier dûment constitué conformément à la réglementation en vigueur   <br>
                                    <br>
                                </p>
                            </td>
                            </tr>
                            <tr style="height: 94.45pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                    <p>
                                        Documents à fournir


                                    </p>
                                </td>
                                <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                    <p>1.   Une demande signée sur papier libre en 3 exemplaires<br>

                                        2.   Un plan de lotissement  à l’échelle 1/1000 au minimum en 7 exemplaires<br>

                                        3.   Un plan de situation du terrain à lotir 7 exemplaires<br>

                                        4.   Un plan de masse indicatif de la composition d’ensemble et une représentation volumétrique sommaire du projet en 3 dimensions et le cas échéant, des photos de maquette ou tout autre moyen facilitant la perception du projet et ce pour les lotissement dont la surface est égale ou supérieur à 5 hectares (en 7 exemplaires)<br>

                                        5.   Un cahier des charges du lotissement fixant les droits et obligations du lotisseur, des acquéreurs ou locataires des lots ainsi que le programme d’aménagement et d’assainissement. (en 7<br>

                                        exemplaires)<br>

                                        6.   Un planning prévisionnel de réalisation et d’achèvement des travaux<br>

                                        (7 exemplaires=<br>

                                        7.   Une note de présentation de l'opération de lotissement  en 7 exemplaires<br>

                                        8.   Un plan coté de l’état actuel du terrain à lotir et de ses abords à l’échelle 1/1000 au minimum dressé par un géomètre (en 7 exemplaires)<br>

                                        9.   Un arrêté d'alignement lorsque la parcelle est contigu au domaine<br>

                                        public routier ou au domaine public maritime. (en 7 exemplaires)<br>

                                        10. Un titre de propriété (titre foncier, acte de propriété jugement pétitoire)(en 3 exemplaires)<br>

                                        11. Une note ou une étude relative à l’impact du projet de lotissement sur l’environnement conformément à la législation et la règlementation en vigueur. (en 7 exemplaires)

                                        12. Une attestation de chacun des services spécialisés (STEG, SONEDE, ONAS, TELECOM).<br>

                                        13. Un plan du titre foncier si le terrain est immatriculé s le terrain n’est pas immatriculé, un levé à l’échelle 1/1000 au minimum rattaché au coordonnées géographiques es dressé par un géomètre. (en 3 exemplaires)

                                        14. Une attestation de libération d’impôt pour les sommes dus de tous<br>

                                        les biens au sein du périmètre communal.<br>
                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 13.9pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                    <p>
                                        Délai
                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                    <p>
                                        4 mois à partir de la date du dépôt d'un dossier complet.
                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 96.4pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                    <p>
                                        Références législatives
                                        ou réglementaires
                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                    <p>-  Loi n° 94-122 du 28 novembre 1994 portant promulgation du code de  l'aménagement  du  territoire  et  de  l'urbanisme,  ensemble  les<br>

                                        textes qui l’ont complétée et modifiée<br>

                                        -  Arrêté du Ministre de l'Equipement et de l'Habitat du 19 octobre<br>

                                        1995fixant les pièces constitutives du dossier de lotissement y compris le cahier des charges ainsi que les formes et les modalités de l'approbation.<br>

                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 70.55pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                    <p>
                                        Procédures de
                                        réalisation de laprestation
                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                    <p>-     Réception, vérification et déclaration de recevabilité du dossier par

                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 13.9pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                    <p>
                                        réalisation de la prestation


                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                    <p>
                                        l’agent d’accueil de l’EDC.<br>

                                        -    Etude des pièces constitutives du dossier par le service technique puis sa transmission à la Direction Régionale de l'Equipement et de l'Habitat.<br>

                                        -     Réalisation d’une visite de constat sur terrain.<br>

                                        -    Soumission du dossier à la commission technique régionale du lotissement.<br>

                                        -     Notification de l’avis de la commission au citoyen concerné.<br>

                                        -    Remise du permis au citoyen contre réception de la quittance du paiement des droits dus.<br>


                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 27.35pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.35pt;" valign="top" width="161">
                                    <p>Service prestataire

                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.35pt;" valign="top" width="450">
                                    <p>
                                        Direction technique de la commune

                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 27.95pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                    <p>
                                        Lieu du dépôt du dossier

                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                    <p>
                                        Espace du Citoyen

                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 27.95pt;">
                                <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                    <p>
                                        Lieu d’obtention de la

                                        prestation

                                    </p>
                                </td>
                                <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                    <p>
                                        Espace du Citoyen

                                    </p>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                        </details>

                        <details>
                            <summary><strong class="btn btn-primary">Arrêté d’approbation d’un morcellement </strong></summary>
                            <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 137.75pt;">
                                    <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                        <p>

                                            Conditions d’obtention de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                        <p>-    Etre propriétaire du terrain objet de lotissement ou légalement mandaté à cet effet.<br>

                                            -    La vocation du terrain doit être conforme à l'affectation qui lui est faite au plan d'aménagement de la zone.<br>

                                            -    Le dépôt d'un dossier dûment constitué conformément à la réglementation en vigueur<br>

                                            -     Le morcellement du terrain en 2 parcelles uniquement<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 94.45pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                        <p>
                                            Documents à fournir


                                        </p>
                                    </td>
                                    <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                        <p>
                                            1.   Une demande signée sur papier libre 3 exemplaires<br>

                                            2.   Un plan de lotissement  à l’échelle 1/1000 au minimum en 7 exemplaires<br>

                                            3.   Un plan de situation du terrain à lotir 7 exemplaires<br>

                                            4.   Un plan de masse indicatif de la composition d’ensemble et une représentation volumétrique sommaire du projet en 3 dimensions et le cas échéant, des photos de maquette ou tout autre moyen facilitant la perception du projet et ce pour les lotissement dont la surface est égale ou supérieur à 5 hectares 7 exemplaires<br>

                                            5.   Un planning prévisionnel de réalisation et d’achèvement des<br>

                                            travaux 7 exemplaires<br>

                                            6.   Une note de présentation de l'opération de lotissement  en 7 exemplaires<br>

                                            7.   Un plan coté de l’état actuel du terrain à lotir et de ses abords à l’échelle 1/1000 au minimum dressé par un géomètre 7 exemplaires<br>

                                            8.   Un arrêté d'alignement lorsque la parcelle est contigu au domaine public routier ou au domaine public maritime. 7 exemplaires<br>

                                            9.   Un titre de propriété (titre foncier, acte de propriété jugement pétitoire) 3 exemplaires<br>

                                            10. Une note ou une étude relative à l’impact du projet de lotissement sur l’environnement conformément à la législation et la règlementation en vigueur. 7 exemplaires<br>

                                            11. Une attestation de chacun des services spécialisés (STEG, SONEDE, ONAS, TELECOM).<br>

                                            12. Un plan du titre foncier si le terrain est immatriculé s le terrain n’est pas immatriculé, un levé à l’échelle 1/1000 au minimum rattaché au coordonnées géographiques es dressé par un géomètre.  3 exemplaires<br>

                                            13. Une attestation de libération d’impôt pour les sommes dus de tous les biens au sein du périmètre communal.<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Délai
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            4 mois à partir de la date du dépôt d'un dossier complet.

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 96.4pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                        <p>
                                            Références législatives
                                            ou réglementaires
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                        <p>
                                            -  Loi n° 94-122 du 28 novembre 1994 portant promulgation du code de  l'aménagement  du  territoire  et  de  l'urbanisme,  ensemble  les<br>

                                            textes qui l’ont complétée et modifiée<br>

                                            -  Arrêté du Ministre de l'Equipement et de l'Habitat du 19 octobre<br>

                                            1995 fixant les pièces constitutives du dossier de lotissement y compris le cahier des charges ainsi que les formes et les modalités de l'approbation.<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 70.55pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                        <p>
                                            Procédures de
                                            réalisation de laprestation
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                        <p>-     Réception, vérification et déclaration de recevabilité du dossier par

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            réalisation de la prestation


                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            l’agent d’accueil de l’EDC.<br>

                                            -    Etude des pièces constitutives du dossier par le service technique puis sa transmission à la Direction Régionale de l'Equipement et de l'Habitat.<br>

                                            -     Réalisation d’une visite de constat sur terrain.<br>

                                            -    Soumission du dossier à la commission technique régionale du lotissement.<br>

                                            -     Notification de l’avis de la commission au citoyen concerné.<br>

                                            -    Remise du permis au citoyen contre réception de la quittance du paiement des droits dus.<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.35pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.35pt;" valign="top" width="161">
                                        <p>Service prestataire

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.35pt;" valign="top" width="450">
                                        <p>
                                            Direction technique de la commune

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu du dépôt du dossier

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu d’obtention de la

                                            prestation

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </details>

                        <details>
                            <summary> <strong class="btn btn-primary">Attestation de vocation d’un terrain </strong></summary>

                            <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 137.75pt;">
                                    <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                        <p>

                                            Conditions d’obtention de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                        <p>
                                            Toute personne a le droit de demander une attestation de vocation

                                            d’un terrain

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 94.45pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                        <p>
                                            Documents à fournir


                                        </p>
                                    </td>
                                    <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                        <p>
                                            1.  Une  demande  sur  papier  simple  au  nom  du  maire.<br>

                                            2.  Une copie du titre  de propriété.<br>

                                            3.  Une attestation de libération d’impôt pour les sommes dus de tous<br>

                                            les biens au sein du périmètre communal.<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Délai
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            10 jours à compter de la date du dépôt de la demande.
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 96.4pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                        <p>
                                            Références législatives
                                            ou réglementaires
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                        <p>
                                            Loi n°94-122 du 28 novembre 1994 portant promulgation du code de

                                            l'aménagement du territoire et de l'urbanisme


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 70.55pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                        <p>
                                            Procédures de
                                            réalisation de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                        <p>
                                            -Réception, vérification et déclaration de recevabilité du dossier par<br>

                                            l’agent d’accueil de l’EDC.<br>

                                            -   Visite de constat des lieux par le service technique.<br>

                                            -   Remise de l’attestation au demandeur contre réception de la<br>

                                            quittance du paiement des droits dus.<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Service prestataire

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            Direction  technique de la commune

                                        </p>
                                    </td>
                                </tr>

                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu du dépôt du dossier

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen en collaboration avec la direction technique


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu d’obtention de la

                                            prestation

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </details>


                        <details>
                            <summary><strong class="btn btn-primary">  Autorisation de transport du dépouille mortel pour inhumation </strong></summary>
                            <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 137.75pt;">
                                    <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                        <p>
                                            Conditions d’obtention de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                        <p>
                                            -  L'exécution  des  travaux  conformément  à  la  réglementation  en vigueur.<br>

                                            -  L'exécution des travaux conformément au contenu du permis de bâtir et aux plans approuvés.<br>

                                            -  Avoir un PV de recollement<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 94.45pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                        <p>
                                            Documents à fournir


                                        </p>
                                    </td>
                                    <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                        <p>
                                            1.  Une  demande  sur  papier  simple  au  nom  du  maire.<br>

                                            2.  Une copie du PV de recollement<br>

                                            3.  Une attestation de libération d’impôt pour les sommes dus de tous les biens au sein du périmètre communal.<br>

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Délai
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            2  mois à compter de la date du dépôt de la demande
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 96.4pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                        <p>
                                            Références législatives
                                            ou réglementaires
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                        <p>
                                            Loi n°94-122 du 28 novembre 1994 portant promulgation du code de<br>

                                            l'aménagement du territoire et de l'urbanisme<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 70.55pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                        <p>
                                            Procédures de
                                            réalisation de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                        <p>
                                            -     Réception, vérification et déclaration de recevabilité du dossier par<br>

                                            l’agent d’accueil de l’EDC.<br>

                                            -   Réalisation des visites de constat sur les lieux et élaboration d’un<br>

                                            PV de constat.<br>

                                            -   Remise de l’autorisation d’occupation au citoyen contre réception<br>

                                            de la quittance du paiement des sommes dus.<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Service prestataire

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            Direction  technique de la commune

                                        </p>
                                    </td>
                                </tr>

                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu du dépôt du dossier

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu d’obtention de la

                                            prestation

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </details>



                        <details>
                            <summary><strong class="btn btn-primary"> Autorisation de transport du dépouille mortel pour inhumation</strong></summary>
                            <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 137.75pt;">
                                    <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                        <p>
                                            Conditions d’obtention de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                        <p>
                                            -     Etre propriétaire du terrain objet de la construction.<br>

                                            -     La parcelle issue d'un lotissement approuvé et la vocation demandée<br>

                                            conforme au plan d'aménagement de la zone.<br>

                                            -    Respect de la réglementation concernant la protection des terres agricoles, des sites naturels, des sites urbains et des zones sauvegardées.<br>

                                            -    Présentation d'un dossier complet conformément à la réglementation en vigueur.<br>

                                            -    La vocation demandée ne doit pas être en contradiction avec la réglementation en vigueur concernant la pollution, les nuisances sonores et la circulation.<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 94.45pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                        <p>
                                            Documents à fournir


                                        </p>
                                    </td>
                                    <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                        <p>
                                            1.  Une demande sur papier libre signée par l'intéressé.<br>

                                            2.  Un titre de propriété ou attestation équivalente.<br>

                                            3.  Une fiche de renseignements technique signée par l’architecte<br>

                                            4.  Un projet de construction<br>

                                            5.  Un récépissé de la déclaration des revenus imposables des personnes physiques et des sociétés.<br>

                                            6.  Une attestation de libération d’impôt pour les sommes dus de tous<br>

                                            les biens au sein du périmètre communal.<br>

                                            7.  Une étude relative à l'impact du projet sur l'environnement<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Délai
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            -   21 jours à partir de la date du dépôt d'un dossier dûment constitué<br>

                                            -   60 jours si le plan d'aménagement est en cours d'élaboration<br>

                                            -  90 jours si la construction se situe à 200 mètres des sites naturels, culturels, archéologiques sauvegardées ou historiques<br>

                                            -  Ce délai pourrait être augmenté dans d'autres cas si  la construction se trouve dans un endroit nécessitant le recours de la municipalité à l'avis préalable d'autres structures administratives ou spéciales.<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 96.4pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                        <p>
                                            Références législatives
                                            ou réglementaires
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                        <p>
                                            -  Loi n°94-122 du 28 novembre 1994 portante promulgation du code de l'aménagement du territoire et de l'urbanisme

                                            -  Loi  n°  83-87  du  11  novembre 1983  relative  à  la  protection des  terres agricoles, ensemble les textes qui l’ont modifiée et complétée

                                            -  Loi  n°  86-35  du  09  mai  1986  relative  à  la  protection  des  biens archéologiques des monuments historiques et  des sites naturels et urbains.

                                            -  Arrêté de la ministre de l'équipement, de l'habitat et de l'aménagement du territoire du 17 avril 2007, portant définition des pièces constitutives du dossier de permis de bâtir, des délais de validité et prorogation et des conditions de son renouvellement.


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 70.55pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                        <p>
                                            Procédures de
                                            réalisation de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                        <p>
                                            -     Réception, vérification et déclaration de recevabilité du dossier par l’agent

                                            d’accueil de l’EDC ou le Bureau d’ Ordre de l’arrondissement.

                                            -     Etude du dossier et réalisation des constats sur les lieux par le service

                                            technique.

                                            -    Examen du dossier par la commission technique des Permis de bâtir compétente.

                                            -     Notification de l’avis de la commission au citoyen concerné.

                                            -    Remise du permis de bâtir au citoyen contre réception de la quittance du paiement des droits dus.


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Service prestataire

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            Direction  technique de la commune

                                        </p>
                                    </td>
                                </tr>

                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu du dépôt du dossier

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu d’obtention de la

                                            prestation

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </details>



                        <details>
                            <summary><strong class="btn btn-primary">constitution d'un dossier de permis de batir</strong> </summary>
                            <div class="sketchaccordion introtext">
                                <h2 style="margin: 0px 0px 0px 2px; font-family: Verdana; font-weight: bold; line-height: 18px; color: #009999; text-rendering: optimizeLegibility; font-size: 12px; float: left;">Pièces nécessaires à la constitution d'un dossier d'une autorisation de bâtir</h2>
                                <p style="margin: 10px 0px 0px 10px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">&nbsp;</p>
                                <p style="margin: 10px 0px 0px 10px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">Toute personne souhaitant construire, ou procéder à des travaux de restauration d'une construction déjà existante ou y apporter des modifications, doit obtenir un permis de bâtir.</p>
                                <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">Quelles sont les pièces nécessaires à la constitution d'un dossier d'une autorisation de bâtir ?</h3>
                                <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;"><span style="font-family: Verdana;"><span style="font-size: 11px; line-height: 18px;"><strong>Le dossier de permis de bâtir doit comporter :</strong></span></span></p>
                                <ul style="padding: 0px; margin: 8px 10px 3px 15px; font-size: 11px; font-family: Verdana; font-weight: bold; list-style-type: none; line-height: 18px;">
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Une demande sur papier libre, signée par le pétitionnaire ou son représentant. (2 exemplaires)</span></li>
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Un certificat de propriété ou un jugement en matière pétitoire ou un autre document attribuant la propriété de la parcelle, sur laquelle il est projeté de construire (2 exemplaires)</span></li>
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Un projet de construction (5 exemplaires).</span></li>
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Un récépissé de la déclaration de l'impôt sur le revenu des personnes physiques ou de l'impôt sur les sociétés (2 exemplaires)</span></li>
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Un reçu de paiement des taxes dues sur l'immeuble objet de la demande du permis de bâtir (2 exemplaires).</span></li>
                                    <li style="line-height: 20px;"><span style="line-height: 1.3em; color: #000000;"><span style="line-height: 18px;">Etude fixant les spécifications techniques minimales visant l’économie dans la consommation d’énergie des projets de construction et d’extension des bâtiments a usage résidentiel collectif et bureautique</span></span><span style="line-height: 1.3em; color: #000000;"><span style="line-height: 18px;">&nbsp;, dont la surface couverte dépasse les 500 m2&nbsp;</span></span><strong style="line-height: 1.3em;"><span style="color: #000000;"><span style="font-weight: normal; line-height: 18px;">(</span><span style="line-height: 18px;">Élaborée</span><span style="font-weight: normal; line-height: 18px;">&nbsp;par l’architecte concepteur du projet ou un bureau d’études ou un ingénieur conseil spécialisé et approuvée par un contrôleur technique autorisé par le ministère de l’équipement, de l’habitat et de l’aménagement du territoire dans le domaine des bâtiments)</span></span></strong><span style="line-height: 1.3em; color: #000000;"><span style="line-height: 18px;">&nbsp;(5 exemplaires).</span></span></li>
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Note de présentation (2 exemplaires)</span></li>
                                    <li style="line-height: 20px;"><span style="color: #000000; line-height: 18px;">Copie de la carte d’identité nationale (2 exemplaires)</span></li>
                                </ul>
                            </div>
                        </details>



                        <details>
                            <summary> <strong class="btn btn-primary"> Demande d’un extrait ou d’une copie du Plan d’Aménagement Urbain</strong> </summary>
                            <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 137.75pt;">
                                    <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                        <p>
                                            Conditions d’obtention de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                        <p>
                                            Toute personne a le droit de demander un extrait ou une copie  du plan d’aménagement urbain en contre partie d’un montant fixé conformément à la législation en vigueur.
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 94.45pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                        <p>
                                            Documents à fournir


                                        </p>
                                    </td>
                                    <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                        <p>
                                            1.  Une  demande  sur  papier  simple  au  nom  du  maire.<br>

                                            2.  Une attestation de libération d’impôt pour les sommes dus de tous les biens au sein du périmètre communal.
                                            <br>
                                            3.  Une copie du titre de propriété du local.<br>


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Délai
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            7  jours à compter de la date du dépôt de la demande.


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 96.4pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                        <p>
                                            Références législatives
                                            ou réglementaires
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                        <p>
                                            Loi n°94-122 du 28 novembre 1994 portant promulgation du code de

                                            l'aménagement du territoire et de l'urbanisme.


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 70.55pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                        <p>
                                            Procédures de
                                            réalisation de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                        <p>
                                            - Réception, vérification et déclaration de recevabilité du dossier par

                                            l’agent d’accueil de l’EDC.

                                            - Réalisation d’une copie du plan d’aménagement par le service

                                            technique.

                                            - Remise d’une copie de la situation du PAU au demandeur contre

                                            réception de la quittance du paiement des droits dus.
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Service prestataire

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            Direction  technique de la commune

                                        </p>
                                    </td>
                                </tr>

                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu du dépôt du dossier

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen en collaboration avec la Direction technique de la

                                            commune


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu d’obtention de la

                                            prestation

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </details>


                        <details>
                            <summary> <strong class="btn btn-primary">PV de recollement</strong> </summary>
                            <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 137.75pt;">
                                    <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                        <p>
                                            Conditions d’obtention de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                        <p>
                                            -  L'exécution  des  travaux  conformément  à  la  réglementation  en vigueur.

                                            -  L'exécution des travaux conformément au contenu du permis de bâtir et aux plans approuvés.

                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 94.45pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                        <p>
                                            Documents à fournir


                                        </p>
                                    </td>
                                    <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                        <p>
                                            1.  Une  demande  sur  papier  simple  au  nom  du  maire.

                                            2.  Une copie de l’arrêté de permis de bâtir attribué.

                                            3.  Les plans approuvés à l’occasion de la délivrance du permis de bâtir.

                                            4.  Une attestation de libération d’impôt pour les sommes dus de tous les biens au sein du périmètre communal.

                                            5.  Une copie du titre de  propriété.


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Délai
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            2  mois à compter de la date du dépôt de la demande



                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 96.4pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                        <p>
                                            Références législatives
                                            ou réglementaires
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                        <p>
                                            Loi n°94-122 du 28 novembre 1994 portant promulgation du code de

                                            l'aménagement du territoire et de l'urbanisme


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 70.55pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                        <p>
                                            Procédures de
                                            réalisation de la prestation
                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                        <p>
                                            - Réception, vérification et déclaration de recevabilité du dossier par

                                            l’agent d’accueil de l’EDC.

                                            -   Réalisation des visites de constat sur les lieux et élaboration d’un

                                            PV de constat.

                                            -   Remise d’un exemplaire du PV de constat au citoyen contre

                                            réception de la quittance du paiement des sommes dus.


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 13.9pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                        <p>
                                            Service prestataire

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                        <p>
                                            Direction  technique de la commune

                                        </p>
                                    </td>
                                </tr>

                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu du dépôt du dossier

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen


                                        </p>
                                    </td>
                                </tr>
                                <tr style="height: 27.95pt;">
                                    <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                        <p>
                                            Lieu d’obtention de la

                                            prestation

                                        </p>
                                    </td>
                                    <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                        <p>
                                            Espace du Citoyen

                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </details>




                    </div><!-- /.section-header -->


                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.tr-causes-section -->

    </div>
</template>
<style>

    summary::-webkit-details-marker {
        display: none
    }

</style>
<script>



</script>