<template>
    <div>
        <div id="causes" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">

                        <details>
                            <summary><strong>Certification des copies</strong></summary>

                        <div>

                            <div class="sketchfold inside" style="display: block;">
                                <div class="sketchaccordion introtext">
                                    <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">Le demandeur de cette prestation doit présenter aux agents de service de l'état civil un original de chaque copie à certifier. Ces derniers sont obligatoirement tenus de s'assurer de la conformité totale de la copie à son original.</p>
                                    <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                    <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">Taxes et redevances</h3>
                                    <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">La certification de conformité des copies à l'original est soumise à des redevances. Le montant de ces taxes est fixé comme suit:</p>
                                    <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                    <table class="table-relation" style="max-width: 100%; border-collapse: collapse; border-spacing: 0px; border: 1px solid #7da7ec; font-family: Verdana; font-size: 11px; line-height: 18px; width: 483px;" border="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td class="table-TitreRelation" style="font-family: Verdana; margin: 2px; padding: 2px; font-weight: bold; text-align: center; border: 1px solid #7da7ec; background-color: #7da7ec;" width="331">Nombre de copies</td>
                                            <td class="table-TitreRelation" style="font-family: Verdana; margin: 2px; padding: 2px; font-weight: bold; text-align: center; border: 1px solid #7da7ec; background-color: #7da7ec;" width="140">Taxe</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">Par acte de certification et jusqu'à un maximum de 3 copies de la même pièce</td>
                                            <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">0,500 D</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">de 4 à 6 copies</td>
                                            <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">1,000 D</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">de 7 à 9 copies</td>
                                            <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">1,500 D</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                    <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">N.B</h3>
                                    <ul style="padding: 0px; margin: 8px 10px 3px 15px; font-size: 11px; font-family: Verdana; font-weight: bold; list-style-type: none; line-height: 18px;">
                                        <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">La certification de conformité des copies à l'original est interdite en ce qui concerne les documents contraires aux bonnes moeurs ou portant atteinte à l'ordre public.</li>
                                        <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">Les documents administratifs présentés par les services de l'état, des collectivités locales et des établissements publics à caractère administratif sont exemptés du payement des redevances.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        </details>

                        <details>
                            <summary><strong>Légalisation de signature</strong></summary>
                            <div>

                                <div class="sketchfold inside" style="display: block;">
                                    <div class="sketchaccordion introtext">
                                        <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">Formalités obligatoires</h3>
                                        <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">Le document est présenté personnellement par l'intéressé aux agents du service de l'Etat civil. Seul est exempt de cette obligation quiconque a déposé un spécimen de sa signature suivant les formalités ci-dessous désignées.</p>
                                        <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                        <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">Pièces d'identités à présenter</h3>
                                        <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">La légalisation de signature est effectuée après présentation de l'une des pièces d'identité officielles suivantes en cours de validité:</p>
                                        <ul style="padding: 0px; margin: 8px 10px 3px 15px; font-size: 11px; font-family: Verdana; font-weight: bold; list-style-type: none; line-height: 18px;">
                                            <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">La carte d'identité nationale.</li>
                                            <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">La carte d'identité réservée aux étrangers et délivrée par la direction de la sûreté nationale.</li>
                                            <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">Le passeport</li>
                                        </ul>
                                        <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">Le spécimen de signature</h3>
                                        <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">Tout particulier qui demande fréquemment la légalisation de sa signature peut en déposer personnellement le spécimen auprès du service de l'état civil.</p>
                                        <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                        <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">Taxes et redevances</h3>
                                        <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">La légalisation de signature pour les particuliers est soumise à des redevances. Le montant de ces taxes est fixé comme suit:</p>
                                        <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                        <p style="margin: 10px 0px 0px 12px; font-size: 11px; font-family: Verdana; padding: 0px; text-align: justify; line-height: 18px;">&nbsp;</p>
                                        <table class="table-relation" style="max-width: 100%; border-collapse: collapse; border-spacing: 0px; border: 1px solid #7da7ec; font-family: Verdana; font-size: 11px; line-height: 18px; width: 483px;" border="0" align="center">
                                            <tbody>
                                            <tr class="table-TitreRelation" style="color: #000000; font-weight: bold; text-align: center; background-color: #7da7ec;">
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;" width="331">Nombre de copies</td>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;" width="140">Taxe</td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">jusqu'à un maximum de 3 copies de la même pièce</td>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">1 Signature = 0,500 D<br>2 Signatures = 1,000 D<br>3 Signatures = 1,500 D<br>4 Signatures = 2,000 D</td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">de 4 à 6 copies de la même pièce</td>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">1 Signature = 1,000 D<br>2 Signatures = 2,000 D<br>3 Signatures = 3,000 D<br>4 Signatures = 4,000 D</td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">de 7 à 9 copies de la même pièce</td>
                                                <td style="font-family: Verdana; margin: 2px; padding: 2px; border: 1px solid #7da7ec;">1 Signature = 1,500 D<br>2 Signatures = 3,000 D<br>3 Signatures = 4,500 D<br>4 Signatures = 6,000 D</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <h3 style="margin: 2px 0px 0px 9px; font-family: Verdana; line-height: 18px; color: #333333; text-rendering: optimizeLegibility; font-size: 11px; float: none;">N.B:</h3>
                                        <p style="margin: 0px 0px 10px; font-size: 12.2222px; line-height: 15.808px;">&nbsp;</p>
                                        <ul style="padding: 0px; margin: 8px 10px 3px 15px; font-size: 11px; font-family: Verdana; font-weight: bold; list-style-type: none; line-height: 18px;">
                                            <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">La légalisation de signature est interdite en ce qui concerne les documents contraires aux bonnes moeurs ou portant atteinte à l'ordre public.</li>
                                            <li style="line-height: 20px; margin: 8px 10px 10px 15px; padding: 0px; font-weight: normal; color: #000000;">Les documents administratifs présentés par les services de l'état, des collectivités locales et des établissements publics à caractère administratif sont exemptés du payement des redevances.</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </details>




                    </div><!-- /.container -->
                </div><!-- /.section-content -->
            </div><!-- /.tr-causes-section -->
        </div>
    </div>
</template>
<style>
    summary::-webkit-details-marker {
        display: none
    }
</style>