<template>
    <div>

        <div id="causes" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">
                        <!-- /.Autorisation d’implantation des panneaux publicitaires, enseignes ou écritures -->
                        <details>
                            <summary><strong>Autorisation d’implantation des panneaux publicitaires, enseignes ou écritures</strong></summary>
                           <div>
                               <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                   <tbody>
                                   <tr style="height: 137.75pt;">
                                       <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                           <p>
                                               Conditions d’obtention de la prestation
                                           </p>
                                       </td>
                                       <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                           <p>
                                               -  L’autorisation  est  exigée  pour  tous  dispositif,  dessin,  inscriptions  ou marquages, qu’il s’agit  d’un  panneau  publicitaire  sur  la  voie  publique, ou d’une enseigne lumineuse ou pas ou de simple écriture sur la façade d’un local commercial ou autre quelques soient la nature des indications qu’ils comportent, leur objet, commercial ou non, le procédé utilisé pour leur réalisation et la qualité de leur auteur d’un doit être en conformité avec les .

                                               -   Sont interdits les dispositifs publicitaires :

                                               a)  Comportant une indication de localité, complétée soit par une flèche

                                               soit par une distance kilométrique.

                                               b)  Comportant la reproduction d’un signal routier réglementaire ou d’un schéma de pré signalisation.


                                           </p>
                                       </td>
                                   </tr>
                                   <tr style="height: 94.45pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                           <p>
                                               Documents à fournir


                                           </p>
                                       </td>
                                       <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                           <p>
                                               1.  Une demande au nom du maire signée par l'intéressé et contenant les informations requis notamment l’emplacement demandé, la superficie, la durée de l’occupation, l’adresse et une définition du besoin.

                                               2.  Les schémas ou dessins indiquant clairement le contenu, la forme, les dimensions du panneau, ou le texte et la superficie de la façade à occuper pour les écritures.

                                               3.  Des photos des lieux.

                                               4.  Une copie de la patente.

                                               5.  Une copie de l’agrément d’activité.

                                               6.  Une copie du dossier d’assurance.


                                           </p>
                                       </td>
                                   </tr>
                                   <tr style="height: 13.9pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                           <p>
                                               Délai
                                           </p>
                                       </td>
                                       <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                           <p>
                                               7 jours à compter de la date du dépôt de la demande.

                                           </p>
                                       </td>
                                   </tr>
                                   <tr style="height: 96.4pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                           <p>
                                               Références législatives
                                               ou réglementaires
                                           </p>
                                       </td>
                                       <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                           <p>
                                               -   Loi n° 75-33 du 14 mai 1975, portant promulgation de la loi organique des

                                               communes, ensemble les textes qui l’ont modifiée ou complétée.

                                               -  Loi n° 97-11 du 03 février 1997 portant promulgation du code de la fiscalité locale, ensemble les textes qui l’ont modifiée ou complétée.

                                               -  Loi n° 59-2006 du 14 aout 2006 relative à l’infraction aux règlements d’hygiène dans les zones relevant des collectivités locales.

                                               -  Le décret n° 87-656 du 20 avril 1987 fixant les conditions et modalités d’installation de dispositifs publicitaires sur le domaine public routier de l’Etat ou sur les propriétés riveraines.

                                               -  Le décret n°2007-1866 du 23 juillet 2007, fixant la liste des contraventions aux règlements d’hygiène dans les zones relevant des collectivités locales et des amendes encourues.

                                               -  Le Cahier des charges communal relatif à la publicité et panneau publicitaires.


                                           </p>
                                       </td>
                                   </tr>
                                   <tr style="height: 70.55pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                           <p>
                                               Procédures de
                                               réalisation de la prestation
                                           </p>
                                       </td>
                                       <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                           <p>
                                               -     Réception, vérification et déclaration de recevabilité du dossier par l’agent

                                               d’accueil de l’EDC.

                                               -     Etude et réalisation de visite de constat des lieux d’implantation.

                                               -     Présentation du dossier à la commission des affaires économiques.

                                               -     Remise de l’autorisation au demandeur contre réception de la quittance du

                                               paiement des droits dus.


                                           </p>
                                       </td>
                                   </tr>
                                   <tr style="height: 13.9pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                           <p>
                                               Service prestataire

                                           </p>
                                       </td>
                                       <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                           <p>
                                               Service des affaires économiques
                                           </p>
                                       </td>
                                   </tr>

                                   <tr style="height: 27.95pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                           <p>
                                               Lieu du dépôt du dossier

                                           </p>
                                       </td>
                                       <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                           <p>
                                               Espace du Citoyen


                                           </p>
                                       </td>
                                   </tr>
                                   <tr style="height: 27.95pt;">
                                       <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                           <p>
                                               Lieu d’obtention de la

                                               prestation

                                           </p>
                                       </td>
                                       <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                           <p>
                                               Espace du Citoyen

                                           </p>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>

                           </div>
                        </details>


                        <!-- /. Autorisation d’occupation    -->
                        <details>
                            <summary><strong>Autorisation d’occupation</strong></summary>
                            <div>
                                <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="height: 137.75pt;">
                                        <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                            <p>
                                                Conditions d’obtention de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                            <p>
                                                - L'exécution des travaux conformément à la réglementation en vigueur.

                                                - L'exécution des travaux conformément au contenu du permis de bâtir et aux plans approuvés.

                                                - Avoir un PV de recollement


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 94.45pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                            <p>
                                                Documents à fournir


                                            </p>
                                        </td>
                                        <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                            <p>
                                                1. Une demande sur papier simple au nom du maire.

                                                2. Une copie du PV de recollement

                                                3. Une attestation de libération d’impôt pour les sommes dus de tous les biens au sein du périmètre communal.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Délai
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                2mois à compter de la date du dépôt de la demande
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 96.4pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                            <p>
                                                Références législatives
                                                ou réglementaires
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                            <p>
                                                Loi n°94-122 du 28 novembre 1994 portant promulgation du code de
                                                l'aménagement du territoire et de l'urbanisme
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 70.55pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                            <p>
                                                Procédures de
                                                réalisation de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                            <p>
                                                -Réception, vérification et déclaration de recevabilité du dossier par l’agent d’accueil de l’EDC.

                                                -Réalisation des visites de constat sur les lieux et élaboration d’un PV de constat.

                                                -Remise de l’autorisation d’occupation au citoyen contre réception

                                                de la quittance du paiement des sommes dus.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Service prestataire

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Direction technique de la commune

                                            </p>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </details>
                        <!-- /. Autorisation pour organisation d’une manifestation-->
                        <details>
                            <summary><strong>Autorisation pour organisation d’une manifestation</strong></summary>
                            <div>
                                <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="height: 137.75pt;">
                                        <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                            <p>
                                                Conditions d’obtention de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                            <p>
                                                Respect de la réglementation en vigueur
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 94.45pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                            <p>
                                                Documents à fournir


                                            </p>
                                        </td>
                                        <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                            <p>
                                                Une demande sim ple au nom du maire précisant l’o bjet et le lieu
                                                de la manifestatio n .
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Délai
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                7  jours à compter de la date du dépôt de la demande.

                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 96.4pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                            <p>
                                                Références législatives
                                                ou réglementaires
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                            <p>
                                                Loi n° 75-33 du 14 mai 1975, portant promulgation de la loi organique

                                                des communes, ensemble les textes qui l’ont modifiée ou complétée.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 70.55pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                            <p>
                                                Procédures de
                                                réalisation de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                            <p>
                                                -     Réception de la demande par l’agent d’accueil de l’EDC.

                                                -     Remise d’une copie de la demande à la police municipale pour

                                                vérification du respect de la réglementation en vigueur.

                                                -   Réception de l’avis de la police et préparation de l’autorisation

                                                -     Remise de l’autorisation au demandeur contre réception de la

                                                quittance du paiement des droits dus.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Service prestataire

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Service des affaires économiques


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 27.95pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                            <p>
                                                Lieu du dépôt du dossier

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 27.95pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                            <p>
                                                Lieu d’obtention de la

                                                prestation

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen

                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </details>
                        <!-- /. Autorisations économiques-->
                        <details>
                            <summary><strong>Autorisations économiques</strong></summary>
                            <div>
                                <div class="sketchfold inside" style="display: block;">
                                    <div class="sketchaccordion introtext">
                                        <p style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12.222222328186035px; line-height: 15.807999610900879px;">&nbsp;</p>
                                        <p style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12.222222328186035px; line-height: 15.807999610900879px;"><span style="color: #327c97; font-family: Verdana;"><span style="font-size: 11px; line-height: 18px;">Autorisation d'occupation de la voie publique&nbsp;</span></span><a class="lien_EtatCivil lien_EtatCivil-opened" title="" href="http://www.commune-sousse.gov.tn/fr/autorisation.php"><br></a></p>
                                        <div class="toggler-c lien_EtatCivil-c-opened" style="font-size: 11px; font-family: Verdana; margin: 15px 0px 0px; padding: 0px; line-height: 18px;" title="">
                                            <h3 style="font-size: 11px; float: none; margin: 2px 0px 0px 9px;">Pièces nécessaires à la constitution d'un dossier</h3>
                                            <ul>
                                                <li>Demande sur papier libre précisant le métier à exercer, la surface à occuper, la durée de cette occupation, l'adresse de la voie publique etc.</li>
                                                <li>Copie de la carte d'identité national.</li>
                                            </ul>
                                            <h3 style="font-size: 11px; float: none; margin: 2px 0px 0px 9px;">Délai de réponse :&nbsp;<span style="text-align: justify; font-family: Verdana; color: #333333;">Dans les Vingt (20) jours à partir de la date de dépôt d'un dossier dûment constitué.</span></h3>
                                            <br>
                                            <h3 style="font-size: 11px; float: none; margin: 2px 0px 0px 9px;">Tarif de la taxe :&nbsp;<span style="text-align: justify; font-family: Verdana; color: #333333;">&nbsp;selon la surface&nbsp;d'occupation et la durée du contrat 150 mli/m2/j</span></h3>
                                            <br>
                                            <h3 style="font-size: 11px; float: none; margin: 2px 0px 0px 9px;">Validité de l'autorisation:&nbsp;<span style="text-align: justify; font-family: Verdana; color: #333333;">L'autorisation d'occupation de la voie publique pour l'exercice de certains métiers délivrée sous forme d'arrêté municipal est valable pour une année.</span></h3>
                                        </div>
                                        <div class="toggler-c lien_EtatCivil-c-opened" style="font-size: 11px; font-family: Verdana; margin: 20px 0px 0px; padding: 0px; line-height: 18px;" title="">
                                            <h3 style="font-size: 11px; float: none; margin: 2px 0px 0px 9px;"><span style="text-align: justify; font-family: Verdana; color: #333333;">&nbsp;fixé par arrêté du conseil municipal à 12 dinars par m2 par an.</span></h3>
                                            <p style="color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 12.222222328186035px; line-height: 15.807999610900879px;"><span style="color: #327c97; font-family: Verdana;"><span style="font-size: 11px; line-height: 18px;">Autorisation d'installation des panneaux publicitaires &gt;&gt;&gt;&nbsp;</span></span><a class="lien_EtatCivil lien_EtatCivil-opened" title="" href="http://www.commune-sousse.gov.tn/fr/autorisation.php"><br></a></p>
                                            <div class="toggler-c lien_EtatCivil-c-opened" style="font-size: 11px; font-family: Verdana; margin: 20px 0px 0px; padding: 0px; line-height: 18px;" title="">
                                                <p style="margin: 10px 0px 0px 12px; padding: 0px; text-align: justify;">Autorisation d'installation des panneaux publicitaires à caractère commercial et les enseignes, stores, vitrines, des pancartes fixes, faisant saillie, incrustés ou suspendus sur la voie publique et sur les façades des locaux destinés au commerce à l'industrie et autres métiers</p>
                                                <br>
                                                <h3 style="font-size: 11px; float: none; margin: 2px 0px 0px 9px;">Pièces nécessaires à la constitution d'un dossier</h3>
                                                <ul>
                                                    <li>Une demande sur papier libre.</li>
                                                    <li>Une copie de certificat de conformité du local.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </details>
                        <!-- /. Permis d’occupation temporaire du domaine public-->
                        <details>
                            <summary><strong>Permis d’occupation temporaire du domaine public</strong></summary>
                            <div>
                                <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="height: 137.75pt;">
                                        <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                            <p>
                                                Conditions d’obtention de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                            <p>
                                                -  L'occupation ne doit pas présenter un danger pour les passants, ni gêner la circulation routière (par les affiches et les produits exposés).

                                                -  Le  permis  d'occupation  ne  doit  pas  enfreindre  les  exigences  de tranquillité des habitants, ni leur circulation, ni celle des moyens de transport  et  la  fluidité  de  la  circulation  routière  d'une  façon générale.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 94.45pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                            <p>
                                                Documents à fournir


                                            </p>
                                        </td>
                                        <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                            <p>
                                                1.  Une demande au nom du maire sur papier libre signée par l'intéressé

                                                et contenant les  informations requis notamment la superficie demandée, la durée de l’occupation, l’adresse et une définition du besoin.

                                                2.  Une copie de la pièce d’identité  du demandeur (CIN).

                                                3.  Les autorisations requises pour l’exercice du métier pour les cafés et

                                                restaurants.

                                                4.  Une copie de la patente

                                                5.  Quittance de paiement des taxes municipales imposées au local


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Délai
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                1 mois à compter de la date du dépôt de la demande.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 96.4pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                            <p>
                                                Références législatives
                                                ou réglementaires
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                            <p>
                                                - Loi organique n° 75-33 du 14 mai 1975, ensemble les textes qui

                                                l’ont modifiée et complétée.

                                                - Loi n° 59-2006 du 14 aout 2006 relative à l’infraction aux règlements d’hygiène dans les zones relevant des collectivités locales.

                                                - Loi n° 97-11 du 03 février 1997 portant promulgation du code de la fiscalité locale, ensemble les textes qui l’ont modifiée et complétée.

                                                - Décret du 15 j a n v i e r  1914, relatif à l’occupation du domaine

                                                public.

                                                - Décret n°2007-362 du 19/02/2007 déterminant les conditions et modalités de l'occupation temporaire et de la concession du service public dans le domaine public municipal.

                                                - Le décret  n°2007-1866  du  23  juillet  2007,  fixant  la  liste  des contraventions  aux règlements d’hygiène dans les zones relevant des collectivités locales et des amendes encourues.

                                                - Le Cahier des charges communal relatif à la publicité et panneau publicitaires.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 70.55pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                            <p>
                                                Procédures de
                                                réalisation de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                            <p>
                                                -  Réception, vérification et déclaration de recevabilité du dossier par

                                                l’agent d’accueil de l’EDC.

                                                - Etude et réalisation de visite de constat des lieux d’implantation.

                                                - Présentation du dossier à la commission des affaires économiques.

                                                - Remise de l’autorisation au demandeur contre réception de la quittance du paiement des droits dus.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Service prestataire

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Service des affaires économiques
                                            </p>
                                        </td>
                                    </tr>

                                    <tr style="height: 27.95pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                            <p>
                                                Lieu du dépôt du dossier

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 27.95pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 27.95pt;" valign="top" width="161">
                                            <p>
                                                Lieu d’obtention de la

                                                prestation

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 27.95pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen

                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </details>






                    </div><!-- /.container -->
                </div><!-- /.section-content -->
            </div><!-- /.tr-causes-section -->
        </div>
    </div>

</template>