<template>
    <div>
        <div id="causes" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">

                        <!-- /. Attestation d’habitation principale    -->
                        <details>
                            <summary><strong>Attestation d’habitation principale</strong></summary>
                            <div>
                                <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="height: 137.75pt;">
                                        <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                            <p>
                                                Conditions d’obtention de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                            <p>
                                                -     L’habitation, objet de la demande, doit être l'habitation principale du demandeur ou du défunt.

                                                -     Que le concerné (ou les concernés), soit l'un des héritiers du propriétaire du bien immobilier.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 94.45pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                            <p>
                                                Documents à fournir


                                            </p>
                                        </td>
                                        <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                            <p>
                                                1.   Une demande comportant l'adresse complète de l’habitation.

                                                2.   Un acte de décès du défunt.

                                                3.   Une attestation de libération d’impôt pour les sommes dus de tous

                                                les biens au sein du périmètre communal

                                                4.   Une attestation de propriété du l’immobilier ou autre.

                                                5.   Une copie de la carte d’identité nationale.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Délai
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                4 jours à compter de la date du dépôt de la demande.

                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 96.4pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                            <p>
                                                Références législatives
                                                ou réglementaires
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                            <p>
                                                Code de la fiscalité locale promulgué par la loi 97-11 du 3 février 1997

                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 70.55pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                            <p>
                                                Procédures de
                                                réalisation de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                            <p>
                                                - Réception, vérification et déclaration de recevabilité du dossier par

                                                l’agent d’accueil de l’EDC.

                                                - Préparation de l’attestation.

                                                -  Remise de l’attestation au citoyen


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Service prestataire

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Service Taxes et recouvrement de la commune


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Lieu du dépôt du
                                                dossier

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Lieu d’obtention de la

                                                prestation



                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </details>


                        <!-- /. Attestation d’habitation principale    -->
                        <details>
                            <summary><strong>Attestation d’habitation principale</strong></summary>
                            <div>
                                <table class="MsoNormalTable" style="font-family: 'Times New Roman'; margin-left: 11.8pt; border-collapse: collapse;" border="2" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr style="height: 137.75pt;">
                                        <td style="width: 480.95pt; border: 1pt solid black; padding: 0cm; height: 137.75pt;" valign="top" width="360">
                                            <p>
                                                Conditions d’obtention de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 1200.85pt; border-top: 1pt solid black; border-right: 1pt solid black; border-bottom: 1pt solid black; border-image: initial; border-left: none; padding: 0cm; height: 137.75pt;" valign="top" width="450">
                                            <p>
                                                - L’habitation, objet de la demande, doit être l'habitation principale du demandeur ou du défunt.

                                                -  Que le concerné (ou les concernés), soit l'un des héritiers du propriétaire du bien immobilier.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 94.45pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 94.45pt;" valign="top" width="161">
                                            <p>
                                                Documents à fournir


                                            </p>
                                        </td>
                                        <td style="width: 800.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 94.45pt;" valign="top" width="450">
                                            <p>
                                                1.   Une demande comportant l'adresse complète de l’habitation.

                                                2.   Un acte de décès du défunt.

                                                3.   Une attestation de libération d’impôt pour les sommes dus de tous

                                                les biens au sein du périmètre communal

                                                4.   Une attestation de propriété du l’immobilier ou autre.

                                                5.   Une copie de la carte d’identité nationale.


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Délai
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                4 jours à compter de la date du dépôt de la demande.

                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 96.4pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 96.4pt;" valign="top" width="161">
                                            <p>
                                                Références législatives
                                                ou réglementaires
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 96.4pt;" valign="top" width="450">
                                            <p>
                                                Code de la fiscalité locale promulgué par la loi 97-11 du 3 février 1997

                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 70.55pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 70.55pt;" valign="top" width="161">
                                            <p>
                                                Procédures de
                                                réalisation de la prestation
                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 70.55pt;" valign="top" width="450">
                                            <p>
                                                - Réception, vérification et déclaration de recevabilité du dossier par

                                                l’agent d’accueil de l’EDC.

                                                - Préparation de l’attestation.

                                                -  Remise de l’attestation au citoyen


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Service prestataire

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Service Taxes et recouvrement de la commune


                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Lieu du dépôt du
                                                dossier

                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 13.9pt;">
                                        <td style="width: 120.95pt; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; padding: 0cm; height: 13.9pt;" valign="top" width="161">
                                            <p>
                                                Lieu d’obtention de la

                                                prestation



                                            </p>
                                        </td>
                                        <td style="width: 337.85pt; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0cm; height: 13.9pt;" valign="top" width="450">
                                            <p>
                                                Espace du Citoyen
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </details>


                    </div><!-- /.container -->
                </div><!-- /.section-content -->
            </div><!-- /.tr-causes-section -->
        </div>
    </div>
</template>