<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">
                <div class="section-header section-header-2">
                    <h1>Where Find Us</h1>
                    <div class="sub-title title-before">
                        <p>We make a difference in the lives of people during a very traumatic time in their life. Meeting their medical transport needs eases their burden.</p>
                    </div>
                </div><!-- /.section-header -->
                <div class="row">
                    <div class="col-md-7">
                        <form  @submit.prevent="addbatir()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" name="tel" type="text" placeholder="sujet message..." value="" size="30" aria-required="true" required="required" v-model="contact.sujet_message">
                                    </div>
                                </div>

                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" type="text" placeholder="Your email..." value="" size="30" aria-required="true" required="required" v-model="contact.email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" type="text" placeholder="Your tel..." value="" size="30" aria-required="true" required="required"  v-model="contact.tel">
                                    </div>
                                </div>
                            </div><!-- /.row -->


                            <div class="form-group">
                                <textarea name="message" class="form-control" required="required" rows="7" placeholder="Text Here. . ."  v-model="contact.contenu"></textarea>
                            </div>


                            <input type="submit" class="btn btn-primary btn-full" value="Submit your message">
                        </form><!-- /.tr-form -->



                    </div>
                    <div class="col-md-5">
                        <div class="contact-info">
                            <ul class="global-list">
                                <li>
                                    <div class="contact-icon">
                                        <img src="images/others/location.png" alt="Image" class="img-fluid">
                                    </div>
                                    <div class="tr-info">
                                        <h2>Address</h2>
                                        <address>123 Awesome new Street, <br> Havilton avenue, NY</address>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <img src="images/others/contact.png" alt="Image" class="img-fluid">
                                    </div>
                                    <div class="tr-info">
                                        <h2>Contact</h2>
                                        <ul class="global-list">
                                            <li>Tel : 012-3456-7890</li>
                                            <li>Email : charityo@yourmail.com</li>
                                            <li>Web : <a href="#">https://yourdomain.com</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.contact-info -->
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-contact
    -section -->
</template>

<script>
    export default {
        name: "Contact",
        data(){
          return{
              contact:{},
          }
        },




    methods: {

        addbatir(){

            this.errors=[];
            this.axios.post('/api/contact', this.contact).then((response) => {



                Swal.fire(
                    '',
                    'Your message has been sent.',
                    'success'
                )

              this.contenu=" ";

            }).catch(error=>{
                if(error.response.status===422) {
                    this.errors = error.response.data.errors
                }

            })
        }
    }
    }


</script>

<style scoped>

</style>