<template>
    <div>
        <h1>Listes des Contact</h1>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <router-link :to="{ name: 'Contact' }" class="btn btn-primary">Contactez nous</router-link>
            </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>sujet_message</th>
                <th>Contenu</th>
                <th>email</th>
                <th>tel</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="contact in contacts" :key="contact.id">
                <td>{{contact.id}}</td>
                <td>{{contact.sujet_message}}</td>
                <td>{{contact.contenu}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.tel}}</td>
                <td><button class="btn btn-danger btn-default btn-xs" @click.prevent="deleteCon(contact.id)">Delete</button></td>
            </tr>

            </tbody>
        </table>
        <div class="pagination">
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">

                Previous
            </button>

            <span> {{pagination.current_page}} Page Of {{pagination.last_page}}</span>
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.next_page_url)" :disabled="!pagination.next_page_url">

                Next
            </button>
        </div>
    </div>
</template>


<script>

    export default {

        data() {
            return {
                contacts: [],
                pagination:[],
                url:'api/contact'

            }

        },
        created(){


            this.getAll();

        },
        methods: {

            getAll(){
                this.axios.get(this.url).then(response => {
                    this.contacts = response.data.data

                    this.makePagination(response.data)
                    console.log(this.contacts)
                });
            },
            deleteCon(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/contact/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your message has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },
            makePagination(data){
                let pagination= {
                    current_page:data.current_page,
                    last_page:data.last_page,
                    prev_page_url:data.prev_page_url,
                    next_page_url:data.next_page_url

                }
                this.pagination=pagination

            },
            fetchPaginatePubs(url){
                this.url=url;
                this.getAll();

            }

        }


    }


</script>
