<template>
    <div>
        <h1>Listes des réclamations</h1>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <!--<router-link :to="{ name: 'Reclamation' }" class="btn btn-primary">Envoyer reclamation</router-link>-->
            </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Sujet</th>
                <th>Contenu</th>
                <th>file</th>
                <th>Image</th>
                <th>Citoyen</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="reclamation in reclamations" :key="reclamation.id">
                <td>{{reclamation.id}}</td>
                <td>{{reclamation.sujet}}</td>
                <td>{{reclamation.contenu}}</td>
               <td> <a :href='/images/+ reclamation.file' width="70px" height="70px" style="border-radius: 50%;">pdf</a></td>
                <td>{{reclamation.image}}</td>
                <td>{{reclamation.citoyen.id}}</td>
                <td><router-link :to="{name: 'Detailrec', params: { id: reclamation.id }}" class="btn btn-block btn-default btn-xs">Details</router-link></td>
                <td><button class="btn btn-danger btn-default btn-xs" @click.prevent="deleteRec(reclamation.id)">Delete</button></td>
            </tr>

            </tbody>
        </table>
        <div class="pagination">
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">

                Previous
            </button>

            <span> {{pagination.current_page}} Page Of {{pagination.last_page}}</span>
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.next_page_url)" :disabled="!pagination.next_page_url">

                Next
            </button>
        </div>
    </div>
</template>


<script>

    export default {

        data() {
            return {
                reclamations: [],
                pagination:[],
                url:'api/reclam'

            }

        },
        created(){


            this.getAll();

        },
        methods: {

            getAll(){
                this.axios.get(this.url).then(response => {
                    this.reclamations = response.data.data

                    this.makePagination(response.data)
                    console.log(this.reclamations)
                });
            },
            deleteRec(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/reclam/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your Reclamation has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },
            makePagination(data){
                let pagination= {
                    current_page:data.current_page,
                    last_page:data.last_page,
                    prev_page_url:data.prev_page_url,
                    next_page_url:data.next_page_url

                }
                this.pagination=pagination

            },
            fetchPaginatePubs(url){
                this.url=url;
                this.getAll();

            }

        }


    }


</script>
