<template>
<div id="details">



    <p> Du :{{citoyen.nom}}  </p>
    <p> Sujet :{{reclamation.sujet}} </p>
    <p> Contenu :{{reclamation.contenu}} </p>


    <div class="form-group">
        <button type="button" class="btn btn-block" @click.prevent="getPDF" >PDF</button>
    </div>
</div>


</template>



<script>

    import jsPDF from 'jspdf';
    export default {
        data() {
            return {
                reclamation: {},
                citoyen :{}

            }

        },
        methods: {
            getPDF() {
                console.log('test');

                var doc = new jsPDF();
                doc.fromHTML(document.getElementById("details"), 20, 20, {'width': 200});//<-- not good. How can I refactor this?
                doc.save("mypdf.pdf");


            },



        },
        created() {
            let uri = `api/reclam/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.reclamation = response.data;
            });
        }
    }


</script>
