<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">
                <div class="section-header section-header-2">
                    <h1>Where Find Us</h1>
                    <div class="sub-title title-before">
                        <p>We make a difference in the lives of people during a very traumatic time in their life. Meeting their medical transport needs eases their burden.</p>
                    </div>
                </div><!-- /.section-header -->
                <div class="row">
                    <div class="col-md-7">
                        <form @submit.prevent="addreclam">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>sujet:</label>
                                        <input type="text" class="form-control" v-model="reclamation.sujet" name="plan">
                                        <span v-if="errors.sujet" class="text-danger"  >{{errors.sujet[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>contenu:</label>
                                        <input type="text" class="form-control" v-model="reclamation.contenu" name="demande_signe">
                                        <span v-if="errors.contenu" class="text-danger"  > {{errors.contenu[0]}}</span>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>File/Image:</label>
                                            <input type="file" v-on:change="onImageChange" class="form-control" id="file">
                                            <span v-if="errors.file" class="text-danger"  > {{errors.file[0]}}</span>

                                        </div>
                                    </div>
                                </div><br />

                                <input type="submit" class="btn btn-primary btn-full" value="Submit your message">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div class="contact-info">
                            <ul class="global-list">
                                <li>
                                    <div class="contact-icon">
                                        <img src="images/others/location.png" alt="Image" class="img-fluid">
                                    </div>
                                    <div class="tr-info">
                                        <h2>Address</h2>
                                        <address>123 Awesome new Street, <br> Havilton avenue, NY</address>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <img src="images/others/contact.png" alt="Image" class="img-fluid">
                                    </div>
                                    <div class="tr-info">
                                        <h2>Contact</h2>
                                        <ul class="global-list">
                                            <li>Tel : 012-3456-7890</li>
                                            <li>Email : charityo@yourmail.com</li>
                                            <li>Web : <a href="#">https://yourdomain.com</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.contact-info -->
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-contact-section -->
</template>

<script>
    export default {
        data(){
            return {
                reclamation:{},
                errors:[],
                file:''
            }
        },
        methods: {
            test(){
                this.axios.post('/api/reclam', this.reclamation);
            },

            onImageChange(e) {
                console.log(e.target.files[0]);
                this.file = e.target.files[0];
            },

            addreclam(e){
                this.errors=[];


                e.preventDefault();
                let rec=this.reclamation;

                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('sujet', rec.sujet);
                formData.append('contenu', rec.contenu);

                this.axios.post('/api/reclam',formData).then((response) => {



                    Swal.fire(
                        '',
                        'Your Reclamation has been sent.',
                        'success'
                    )



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            },


        }
    }
</script>
