<template>
  <div id="contact" class="tr-contact-section">
    <div class="section-content tr-bg-white">
      <div class="container">
        <div class="card card-default">
          <div class="card-header">Connexion</div>

          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="email">E-mail</label>

                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="user@example.com"
                  v-model="fields.email"
                  required
                >
                <span v-if="errors.email" class="text-danger">{{errors.email[0]}}</span>
              </div>

              <div class="form-group">
                <label for="password">Mot de passe</label>

                <input
                  type="password"
                  id="password"
                  class="form-control"
                  v-model="fields.password"
                  required
                >
                <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
              </div>

              <button type="button" class="btn btn-default" @click="Login">Connexion</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: {},
      errors: []
    };
  },

  methods: {
    destroyToken() {
      localStorage.removeItem("Token");
      localStorage.removeItem("expiration");
    },
    Login() {
      this.errors = [];

      axios
        .post("/api/auth/login", this.fields)
        .then(response => {
          localStorage.setItem("Token", "Bearer " + response.data.access_token);
          localStorage.setItem("expiration", response.data.expires_at);
          localStorage.setItem("user_id", response.data.user_id);
          this.$router.push({ name: "ContentAcceuil" });
          Vue.swal({
            type: "success",
            title: "login with success"
          });
        })
        .catch(err => {
          if (err.response.status === 422) {
            this.errors = err.response.data.errors;

            Vue.swal({
              type: "error",
              title: err.response.data.errors.message
            });
          }
          if (err.response) {
            Vue.swal({
              type: "error",
              title: err.response.data.message
            });
          }
        });
    },
    created: function() {
      this.destroyToken();
    }
  }
};
</script>