<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Create A Pub</h1>
                <form @submit.prevent="addPub">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>titre:</label>
                                <input type="text" class="form-control" v-model="actualite.titre" name="description">
                                <span v-if="errors.titre" class="text-danger"  > {{errors.titre[0]}}</span>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>description:</label>
                                <input type="text" class="form-control" v-model="actualite.description" name="sujet">
                                <span v-if="errors.description" class="text-danger"  > {{errors.description[0]}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>file:</label>
                                <input type="file" v-on:change="onImageChange" class="form-control" id="file">

                                <span v-if="errors.file" class="text-danger"  > {{errors.file[0]}}</span>

                            </div>
                        </div>
                    </div><br />

                    <div class="form-group">
                        <button class="btn btn-primary">create</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                actualite:{},
                errors:[],
                file:''
            }
        },
        methods: {


            onImageChange(e) {
                console.log(e.target.files[0]);
                this.file = e.target.files[0];

            },

            test(){
                this.axios.post('/api/actualite', this.actualite);
            },
            addPub(e){



                e.preventDefault();
                let act=this.actualite;

                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('description', act.description);
                formData.append('titre', act.titre);

                this.axios.post('/api/actualite', formData).then((response) => {


                    this.$router.push({name: 'ListePub'})
                    toast.fire({
                        type: 'success',
                        title: 'Publication added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        }
    }
</script>
