<template>
    <div>

        <div class="tr-page-content">
            <div class="tr-blog">
                <div class="blog-content  blog-details section-padding tr-bg-color">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="tr-post tr-radius tr-box-shadow">
                                    <div class="entry-header">
                                        <div class="entry-thumbnail tr-radius">
                                            <img v-bind:src='/images/+ actualite.file'  alt="Image" class="img-fluid">
                                        </div>
                                        <div class="entry-meta">
                                            <p> {{actualite.titre}}</p>
                                        </div>

                                    </div><!-- /.entry-header -->

                                    <div class="entry-content">
                                        <p>{{actualite.description}}</p>
                                        <div class="entry-footer clearfix">

                                            <ul class="tr-list">
                                                <li class="float-right">{{actualite.created_at}}</li>
                                            </ul>
                                        </div><!-- /.entry-meta -->
                                    </div><!-- /.entry-content -->
                                </div><!-- /.tr-post -->


                            </div>
                            <div class="col-md-4">
                                <div class="tr-sidebar">
                                    <div class="widget-area">
                                        <!--<div class="widget widget_search">-->
                                            <!--<h3 class="widget_title title-before">Search Box</h3>-->
                                            <!--<form class="search-form" action="#">-->
                                                <!--<input type="search" class="search-field" placeholder="Search …" value="" name="s">-->
                                                <!--<button type="submit" id="search-submit" class="btn search-btn"><i class="fa fa-search"></i></button>-->
                                            <!--</form>-->
                                        <!--</div>&lt;!&ndash; /.widget &ndash;&gt;-->

                                        <div class="widget widget_recent_entries" >
                                            <h3 class="widget_title title-before">Recent Post</h3>

                                            <ul v-for="act in actualites" :key="act.id">
                                                <li >
                                                    <router-link to="/ContentAcceuil"
                                                                 >{{act.titre}}</router-link>
                                                </li>

                                            </ul>
                                        </div><!-- /.widget -->


                                    </div><!-- /.widget-area -->
                                </div><!-- /.tr-sidebar -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.blog-content -->
            </div><!-- /.tr-blog -->
        </div><!-- /.tr-page-content  -->
    </div>
</template>


<script>

    export default {

        data() {
            return {
                actualite: {},
                actualites:[]

            }
        },

        created() {
            let uri = `api/actualite/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.actualite = response.data;

                console.log(this.actualite)
            });





                this.axios.get('api/actualite').then(response => {
                    this.actualites = response.data.data

                    console.log('test',this.actualites)


                });

        },
        methods: {
            onImageChange(e) {
                console.log(e.target.files[0]);
                this.file = e.target.files[0];

            },
            updatePub(e) {
                e.preventDefault();
                let act=this.actualite;

                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('description', act.description);
                formData.append('titre', act.titre);

                let uri = `api/updatep/${this.$route.params.id}`;
                this.axios.post(uri, formData).then((response) => {
                    this.$router.push({name: 'ListePub'});
                });
            }
        }
    }

</script>