<template>
    <div class="tr-contact-section">
        <div class="card">
            <div class="card-body">
                <h1>Create A Pub</h1>
                <form @submit.prevent="updatePub">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>titre:</label>
                                <input type="text" class="form-control" v-model="actualite.titre" name="titre">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>description:</label>
                                <input type="text" class="form-control" v-model="actualite.description" name="description">
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>file:</label>
                                <input type="file" v-on:change="onImageChange" class="form-control" id="file">

                                <span v-if="errors.file" class="text-danger"  > {{errors.file[0]}}</span>

                            </div>
                        </div>
                    </div><br />

                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                actualite: {},
                file:'',
                errors:[]
            }
        },

        created() {
            let uri = `api/actualite/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.actualite = response.data;
            });
        },
        methods: {
            onImageChange(e) {
                console.log(e.target.files[0]);
                this.file = e.target.files[0];

            },
            updatePub(e) {
                e.preventDefault();
                let act=this.actualite;

                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('description', act.description);
                formData.append('titre', act.titre);

                let uri = `api/updatep/${this.$route.params.id}`;
                this.axios.post(uri, formData).then((response) => {
                    this.$router.push({name: 'ListePub'});
                });
            }
        }
    }
</script>