<template>
    <div>
        <h1> Liste des  Publications</h1>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">

                <!--<button type="button" data-toggle="modal" data-target="#addPub" class="btn btn-primary">-->
                    <!--Ajouter Publication-->
                <!--</button>-->

                <router-link :to="{name: 'AddPub', params: { id: actualite.id }}"  class="btn btn-primary"> Ajouter Publication</router-link>
            </div>
        </div><br />


        <input @keyup="getAll" type="text" name="search" class="form-control" placeholder="Search..." v-model="search">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>File</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="actualite in actualites" :key="actualite.id">
                <td>{{actualite.id}}</td>
                <td>{{actualite.titre}}</td>
                <td>{{actualite.description}}</td>
                <td>
                    <img v-bind:src='/images/+ actualite.file' width="70px" height="70px" style="border-radius: 50%;"></td>

                <td><router-link :to="{name: 'EditPub', params: { id: actualite.id }}"  class="btn btn-block btn-default btn-xs">Modifier</router-link></td>
                <td><button  class="btn btn-danger btn-default btn-xs" @click.prevent="deletePub(actualite.id)">Supprimer</button></td>

            </tr>

            </tbody>
        </table>


        <!-- Modal -->
        <div class="modal fade" id="addPub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Publication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="addPub">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>titre:</label>
                                        <input type="text" class="form-control" v-model="actualite.titre" name="sujet">
                                        <span v-if="errors.titre" class="text-danger"  > {{errors.titre[0]}}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" v-model="actualite.description" name="description">
                                        <span v-if="errors.description" class="text-danger"  > {{errors.description[0]}}</span>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>File:</label>
                                        <input type="file" v-on:change="onImageChange" class="form-control" id="file">

                                        <span v-if="errors.file" class="text-danger"  > {{errors.file[0]}}</span>

                                    </div>
                                </div>
                            </div><br />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">

                Previous
            </button>


            <span> {{pagination.current_page}} Page Of {{pagination.last_page}}</span>
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.next_page_url)" :disabled="!pagination.next_page_url">

                Next
            </button>
        </div>

    </div>
</template>


<script>
    export default {

        data() {
            return {
                actualites: [],
                pagination:[],
                url:'api/actualite' ,
                actualite:{},
                errors:[],
                file:'',
                search:''

            }

        },
        created(){


            this.getAll();

        },
        methods: {
            onImageChange(e) {
                console.log(e.target.files[0]);
                this.file = e.target.files[0];

            },

            test(){
                this.axios.post('/api/actualite', this.actualite);
            },
            addPub(e){

                e.preventDefault();
                let act=this.actualite;

                let formData = new FormData();
                formData.append('titre', this.titre);
                formData.append('description', act.description);
                formData.append('file', act.file);

                this.axios.post('/api/actualite', formData).then((response) => {


                    this.getAll();
                    toast.fire({
                        type: 'success',
                        title: 'Publication added successfully'
                    })

                    this.actualite.file="";
                    this.actualite.description="";
                    this.actualite.sujet="";

                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            },



            getAll(){
                this.axios.get(`${this.url}?search=${this.search}`).then(response => {
                    this.actualites = response.data.data

                    this.makePagination(response.data)
                });
            },
            deletePub(id)
            {  Vue.swal({

                title: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/actualite/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },
            makePagination(data){
                let pagination= {
                    current_page:data.current_page,
                    last_page:data.last_page,
                    prev_page_url:data.prev_page_url,
                    next_page_url:data.next_page_url

                }
                this.pagination=pagination

            },
            fetchPaginatePubs(url){
                this.url=url;
                this.getAll();

            }

        }


    }


</script>
