<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">

                <div class="row">
                    <div class="col-md-7">


                        <form @submit.prevent="addProp()">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>demande:</label>
                                        <input type="text" class="form-control" v-model="Prop.demande" name="demande">
                                        <span v-if="errors.demande" class="text-danger"  >{{errors.demande[0]}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>contract_achat:</label>
                                        <input type="text" class="form-control" v-model="Prop.contract_achat" name="contract_achat">
                                        <span v-if="errors.contract_achat" class="text-danger"  > {{errors.contract_achat[0]}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>cin_scan:</label>
                                        <input type="text" class="form-control" v-model="Prop.cin_scan" name="cin_scan">
                                        <span v-if="errors.cin_scan" class="text-danger"  > {{errors.cin_scan[0]}}</span>
                                    </div>
                                </div>
                            </div><br />
                            <input type="submit" class="btn btn-primary btn-full" value="Submit your message">

                        </form>



                    </div>

                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-contact-section -->
</template>

<script>
    export default {
        data(){
            return {
                Prop:{},
                errors:[]
            }
        },
        methods: {
            test(){
                this.axios.post('/api/Prop', this.Prop);
            },
            addProp(){

                this.errors=[];
                this.axios.post('/api/Prop', this.Prop).then((response) => {


                    this.$router.push({name: 'Propriete'})
                    toast.fire({
                        type: 'success',
                        title: 'Prop added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        }
    }
</script>
