<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Edit Prop</h1>
                <form @submit.prevent="updateProp">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>demande:</label>
                                <input type="text" class="form-control" v-model="Prop.demande" name="demande">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>contract_achat:</label>
                                <input type="text" class="form-control" v-model="Prop.contract_achat" name="contract_achat">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>cin_scan:</label>
                                <input type="text" class="form-control" v-model="Prop.cin_scan" name="cin_scan">

                            </div>
                        </div>
                    </div><br />

                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                Prop: {}
            }
        },
        created() {
            let uri = `api/Prop/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.Prop = response.data;
            });
        },
        methods: {
            updateProp() {
                let uri = `api/Prop/${this.$route.params.id}`;
                this.axios.patch(uri, this.Prop).then((response) => {
                    toast.fire({
                        type: 'success',
                        title: 'Prop Updated successfully'
                    })
                    this.$router.push({name: 'Propriete'});
                });
            }
        }
    }
</script>