<template>
    <div id="app">
        <!-- -------------------preloader --------------------------->
        <!--<div id="preloader">-->
            <!--<img src="temp/images/preloader.gif" alt="Image" class="tr-preloader img-fluid">-->
        <!--</div>-->
        <!-- -------------------preloader --------------------------->
        <!-- navbar ----------------------------- -->

        <div >
            <Header></Header>
        </div>


        <!--<div id="team" class="tr-team-section">-->
            <!--<div class="section-content">-->
                <!--<div class="container">-->
                    <!--<div class="section-header header-style-1">-->
                        <!--<div class="row">-->
                            <!--<router-view target="_blank"></router-view>-->
                        <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; /.section-header &ndash;&gt;-->

                <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.section-content &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.tr-team-section &ndash;&gt;-->

        <!---------------- bloc service ---------------------------->


        <div >
            <router-view target="_blank"></router-view>
        </div><!-- /.row -->
        <!----------------------------- footer ---------------------->
        <div class="tr-footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <span>All rights reserved 2019 </span>
                    </div>

                    <div class="footer-social">
                        <ul class="global-list">
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.footer-bottom -->
        </div><!-- /.tr-footer -->



    </div>

</template>