<template>
    <div id="causes" class="tr-causes-section">
        <div class="section-content tr-bg-white">
            <div class="container">
                <div class="section-header section-header-2">
                    <h1>Ajouter comtié</h1>
                    <form @submit.prevent="addcomite()">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nom Comité:</label>
                                    <input type="text" class="form-control" v-model="comite.nomComite" name="nomComite">
                                    <span v-if="errors.nomComite" class="text-danger"  >{{errors.nomComite[0]}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Agent responsable: </label>

                                    <select class="form-control" id="electionId" name="electionId" v-model="comite.agent_id">
                                        <option v-for="agent in agents" :key="agent.id" :value="agent.id">
                                            {{agent.nom}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>

        </div></div>
</template>

<script>
    export default {
        data(){
            return {
                comite:{},
                errors:[],
                agents:[]
            }
        },
        methods: {
            test(){
                this.axios.post('/api/comite', this.comite);
            },
            addcomite(){

                this.errors=[];
                this.axios.post('/api/comite', this.comite).then((response) => {


                    this.$router.push({name: 'Concomite'})
                    toast.fire({
                        type: 'success',
                        title: 'comite added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        },
        created() {
            this.axios.get('/api/agent').then(response => {
                this.agents = response.data


            });

        }
    }
</script>
