<template>
    <div >
        <h1>Liste des comités</h1>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <router-link :to="{ name: 'Comite' }" class="btn btn-primary">Ajouter comité</router-link>

            </div>
        </div><br />
        <div  style="overflow-x:auto;">
            <table class="table table-hover">
                <thead>
                <tr i>
                    <th>ID</th>
                    <th >Nom Comite</th>
                    <th >Agent </th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr  v-for="comite in comites" :key="comite.id">
                    <td>{{comite.id }}</td>
                    <td>{{comite.nomComite }}</td>
                    <td>{{comite.agents.nom}}</td>
                    <td><button class="btn btn-danger" @click.prevent="deletecomite(comite.id)">Delete</button></td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>
</template>


<script>

    export default {

        data() {
            return {
                comites: [],
                pagination:[],
                url:'api/comite'

            }

        },
        created(){


            this.getAll();

        },
        methods: {



            getAll(){
                this.axios.get(this.url).then(response => {
                    this.comites = response.data.data
                    console.log(this.comites)


                });
            },
            deletecomite(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/comite/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your comite has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },




        }


    }


</script>
