
<template>
    <div>

    <div class="tr-banner">
            <div class="banner-content section-before bg-image" style="background-image: url(temp/images/coverk.png);">
                <div class="container">
                    <div class="banner-info">
                        <h1 style="font-family: 'PT Serif', serif">La commune de Kontich <span>met à votre disposition une variété des services en ligne</span></h1>
                        <br>
                        <div v-if="isGuest" class="tr-button">
                            <router-link to="/register"  target="_self" class="btn btn-primary">Inscription</router-link>
                            <router-link to="/Login"  target="_self" class="btn btn-primary">Login</router-link>

                        </div><!-- /.tr-buttons -->



                        <!--<a  class="btn btn-primary"  href="{{ url('/auth/register') }}">Inscription</a></center>-->
                    </div><!-- /.banner-info -->

                </div><!-- /.container -->
            </div><!-- /.banner-content -->
        </div>
    <!---------------- bloc service ---------------------------->

    <!---------------- bloc cause ---------------------------->

    <!---------------- bloc cause ---------------------------->



        <!---------------- bloc articles  ---------------------------->
        <div id="causes2" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">
                        <h1>Actualités</h1>

                    </div><!-- /.section-header -->

                    <div class="causes-content">
                        <div class="row">


                            <div class="col-md-6 col-lg-4" v-for="actualite in actualites" :key="actualite.id">
                                <div class="tr-causes" >
                                    <div class="causes-thumb">
                                        <img v-bind:src='/images/+ actualite.file' alt="Image" class="img-fluid"  size>
                                        <div class="tr-overlay">

                                            <td><router-link :to="{name: 'DetailPub', params: { id: actualite.id }}"  class="btn btn-primary">Lire La Suite</router-link></td>

                                        </div>
                                    </div>

                                    <h2><a href="cause-details.html">{{actualite.titre}}</a></h2>
                                    <span>{{actualite.created_at}}</span>
                                </div><!-- /.tr-causes -->



                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.causes-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.tr-causes-section -->
        <!---------------- bloc testttttt ---------------------------->






    <!----------------------------- Video ---------------------->
    <div class="tr-video-section">
        <div class="section-content section-before bg-image tr-parallax text-center" style="background-image: url(temp/images/bg/video.jpg);">
            <div class="container">
                <div class="video-content">
                    <h1>You can make a difference, so why don’t you?</h1>
                    <a class="video-link" href="https://www.youtube.com/watch?v=Ks-qjrH_aDs&list=RDMMKs-qjrH_aDs&start_radio=1"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div><!-- /.video-content -->
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-video-section -->
    <!----------------------------- Video ---------------------->

    <!----------------------------- about ---------------------->

    <!----------------------------- about ---------------------->

        <!----------------------------- about ---------------------->

        <!----------------------------- about ---------------------->


    <!----------------------------- team ---------------------->
        <div id="causes" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">
                        <h1>Équipe</h1>

                    </div>
                    <div class="causes-content">
                        <div class="row">

                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/1.jpg" alt="Image" class="img-fluid">


                                            <div class="tr-overlay">


                                                <a href="#" class="btn btn-primary">Rahma Ben Salem</a>
                                            </div>


                                    </div>


                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/2.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">

                                            <div class="tr-donation">
                                                <a href="#" class="btn btn-primary">Abdeljalil Boubaker</a>
                                            </div>

                                        </div>
                                    </div>


                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/3.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">

                                            <div class="tr-donation">
                                                <a href="#" class="btn btn-primary">Hayet Ltaief</a>
                                            </div>

                                        </div>
                                    </div>


                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/4.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">

                                            <div class="tr-donation">
                                                <a href="#" class="btn btn-primary">Sameh Chaieb</a>
                                            </div>

                                        </div>
                                    </div>


                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/5.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">

                                            <div class="tr-donation">
                                                <a href="#" class="btn btn-primary">Radhia Ben Haj Salah</a>
                                            </div>

                                        </div>
                                    </div>


                                </div><!-- /.tr-causes -->
                            </div>

                        </div><!-- /.row -->
                    </div><!-- /.causes-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.tr-causes-section -->
    <!----------------------------- team ---------------------->

    <!----------------------------- sondage ---------------------->
    <div class="tr-fun-facts">
        <div class="section-content bg-image text-center tr-parallax section-before" style="background-image: url(temp/images/bg/fun-facts.jpg);">
            <div class="container">
                <div class="fun-facts text-left clearfix">
                    <ul class="global-list">
                        <li class="fun-fact">
                            <div class="fun-fact-icon">
                                <img src="temp/images/others/icon-fun1.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="fun-fact-info">
                                <p>Total Collection</p>
                                <p class="counter">$<span>199750</span></p>
                            </div>
                        </li>
                        <li class="fun-fact">
                            <div class="fun-fact-icon">
                                <img src="temp/images/others/icon-fun2.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="fun-fact-info">
                                <p>Total Volunteers</p>
                                <p class="counter"><span>900</span>+</p>
                            </div>
                        </li>
                        <li class="fun-fact">
                            <div class="fun-fact-icon">
                                <img src="temp/images/others/icon-fun3.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="fun-fact-info">
                                <p>Helped People</p>
                                <p class="counter"><span>21000</span>+</p>
                            </div>
                        </li>
                        <li class="fun-fact">
                            <div class="fun-fact-icon">
                                <img src="temp/images/others/icon-fun4.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="fun-fact-info">
                                <p>Supported Country</p>
                                <p class="counter"><span>30</span>+</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-fun-facts -->
    <!----------------------------- sondage ---------------------->








    <!----------------------------- subscribe ---------------------->
    <div class="tr-subscribe">
        <div class="section-content tr-parallax bg-image" style="background-image: url(temp/images/bg/subscribe-bg.jpg);">
            <div class="container text-center">
                <div class="subscribe-info">
                    <h1>Our News Letter</h1>
                    <p>Sed vestibulum lacus non tellus tristique vestibulum molestie elit elementum. Integer posuere ultrices urna, ac scelerisque enim scelerisque eu</p>

                    <form action="#" class="tr-form">
                        <input type="email" class="form-control" placeholder="Enter Email">
                        <input type="submit" class="btn btn-primary" value="Subscribe Now">
                    </form>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.subscribe-content -->
    </div><!-- /.tr-subscribe -->
    <!----------------------------- subsrice ---------------------->

    <!----------------------------- gallerie ---------------------->
        <div id="gallery" class="tr-photo-gallery">
            <div class="gallery-content">
                <ul class="global-list">
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/1.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/1.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/2.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/2.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/3.jpg" alt="Image">
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/3.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/4.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/4.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/5.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/5.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/1.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/1.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/3.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/3.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/4.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/4.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/1.jpg" alt="Image">
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/1.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/2.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/2.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/12.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/12.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>
                    <li>
                        <div class="tr-photo">
                            <img src="temp/images/gallery/5.jpg" alt="Image" >
                            <div class="photo-overlay">
                                <div class="overlay-content">
                                    <div class="zoom-icon">
                                        <a href="temp/images/gallery/5.jpg"><i  aria-hidden="true"></i></a>
                                    </div>

                                </div><!-- /.overlay-content -->
                            </div>
                        </div><!-- /.tr-photo -->
                    </li>

                </ul>
            </div><!-- /.section-content -->
        </div><!-- /.tr-photo-gallery -->
    <!----------------------------- gallerie ---------------------->


    <!---------------------------- how to help ---------------------->
    <div class="tr-help-section">
        <div class="section-content section-before tr-parallax bg-image" style="background-image: url(temp/images/bg/help-bg.jpg);">
            <div class="container">
                <div class="section-header text-center">
                    <h1>How To Help?</h1>
                </div>
                <div class="help-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="tr-help">
                                <a href="#">
                                        <span class="tr-icon">
                                            <img src="temp/images/others/icon1.png" alt="Image" class="img-fluid">
                                        </span>
                                    <span class="help-info">
                                            <span>Sharing</span>
                                            <span class="title">With Others</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="tr-help">
                                <a href="#">
                                        <span class="tr-icon">
                                            <img src="temp/images/others/icon2.png" alt="Image" class="img-fluid">
                                        </span>
                                    <span class="help-info">
                                            <span>Donate</span>
                                            <span class="title">For a New Life</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="tr-help">
                                <a href="#">
                                        <span class="tr-icon">
                                            <img src="temp/images/others/icon3.png" alt="Image" class="img-fluid">
                                        </span>
                                    <span class="help-info">
                                            <span>Save</span>
                                            <span class="title">The Earth</span>
                                        </span>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.help-content -->
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-help-section -->
    <!----------------------------- help ---------------------->
    </div>
</template>

<script>

    export default {
        data(){
            return {
                url:'api/actualite' ,
                actualites: [],
                form:{
                    email:'',
                    password:''
                },
                error:{},
                isProcessing:false,
                isGuest:true

            }
        },
        methods:{

            getAll(){

                console.log(this.actualites)

                this.axios.get(this.url).then(response => {
                    this.actualites = response.data.data

                    // console.log(this.actualites)


                });
            },
            // login() {
            //     this.isProcessing = true
            //     this.error = {}
            //     this.axios.post('api/auth/login', this.form)
            //         .then((res) => {
            //             if(res.data) {
            //                 // set token
            //                 // Auth.set(res.data.api_token, res.data.user_id)
            //                 // Flash.setSuccess('You have successfully logged in.')
            //                 this.$router.push('/container')
            //                 this.form="";
            //             }
            //             this.isProcessing = false
            //         })
            //         .catch((err) => {
            //             if(err.response.status === 422) {
            //                 this.error = err.response.data
            //             }
            //             this.isProcessing = false
            //         })
            // },
            // register(){
            //     this.isProcessing = true
            //     this.error = {}
            //     this.axios.post('api/auth/register', this.form)
            //         .then((res) => {
            //             if(res.data) {
            //                 // Flash.setSuccess('Congratulations! You have now successfully registered.')
            //                 this.$router.push('/login')
            //                 this.form="";
            //             }
            //             this.isProcessing = false
            //         })
            //         .catch((err) => {
            //             if(err.response.status === 422) {
            //                 this.error = err.response.data
            //             }
            //             this.isProcessing = false
            //         })
            // },

            // logout(){
            //     this.axios.post('api/auth/logout', this.form)
            //         .then((res) => {
            //
            //             console.log('you are logout out')
            //
            //         });
            //
            // }


        },
        created() {

            this.getAll();
            if  (localStorage.getItem('Token')){
                this.isGuest=false


            }
        },
        mounted() {



        }

    }
</script>