<template>
    <div>

        <!---------------- bloc cause ---------------------------->
        <div id="causes" class="tr-causes-section">
            <div class="section-content tr-bg-white">
                <div class="container">
                    <div class="section-header section-header-2">
                        <h1>Featured Causes</h1>
                        <div class="sub-title title-before">
                            <p>We make a difference in the lives of people during a very traumatic time in their life. Meeting their medical transport needs eases their burden.</p>
                        </div>
                    </div><!-- /.section-header -->

                    <div class="causes-content">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/1.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">
                                            <div class="tr-paragraph">
                                                <p>We make a difference in the lives of people during a very traumatic time in their life.</p>
                                            </div>
                                            <div class="tr-donation">
                                                <ul class="global-list">
                                                    <li>Raised: $6,300</li>
                                                    <li>Total Goal :  $75000</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Donete Now</a>
                                        </div>
                                    </div>
                                    <h2><a href="cause-details.html">Cash for Charity</a></h2>
                                    <span>For Pure Water</span>
                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/2.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">
                                            <div class="tr-paragraph">
                                                <p>We make a difference in the lives of people during a very traumatic time in their life.</p>
                                            </div>
                                            <div class="tr-donation">
                                                <ul class="global-list">
                                                    <li>Raised: $6,300</li>
                                                    <li>Total Goal :  $75000</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Donete Now</a>
                                        </div>
                                    </div>
                                    <h2><a href="cause-details.html">For Homeless</a></h2>
                                    <span>For sefty life</span>
                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/3.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">
                                            <div class="tr-paragraph">
                                                <p>We make a difference in the lives of people during a very traumatic time in their life.</p>
                                            </div>
                                            <div class="tr-donation">
                                                <ul class="global-list">
                                                    <li>Raised: $6,300</li>
                                                    <li>Total Goal :  $75000</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Donete Now</a>
                                        </div>
                                    </div>
                                    <h2><a href="cause-details.html">Medical Facilities</a></h2>
                                    <span>Treatment</span>
                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/4.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">
                                            <div class="tr-paragraph">
                                                <p>We make a difference in the lives of people during a very traumatic time in their life.</p>
                                            </div>
                                            <div class="tr-donation">
                                                <ul class="global-list">
                                                    <li>Raised: $6,300</li>
                                                    <li>Total Goal :  $75000</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Donete Now</a>
                                        </div>
                                    </div>
                                    <h2><a href="cause-details.html">Hope for Happiness</a></h2>
                                    <span>Donate For Food</span>
                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/5.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">
                                            <div class="tr-paragraph">
                                                <p>We make a difference in the lives of people during a very traumatic time in their life.</p>
                                            </div>
                                            <div class="tr-donation">
                                                <ul class="global-list">
                                                    <li>Raised: $6,300</li>
                                                    <li>Total Goal :  $75000</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Donete Now</a>
                                        </div>
                                    </div>
                                    <h2><a href="cause-details.html">Help for Children</a></h2>
                                    <span>For Pure Water</span>
                                </div><!-- /.tr-causes -->
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="tr-causes">
                                    <div class="causes-thumb">
                                        <img src="temp/images/causes/6.jpg" alt="Image" class="img-fluid">
                                        <div class="tr-overlay">
                                            <div class="tr-paragraph">
                                                <p>We make a difference in the lives of people during a very traumatic time in their life.</p>
                                            </div>
                                            <div class="tr-donation">
                                                <ul class="global-list">
                                                    <li>Raised: $6,300</li>
                                                    <li>Total Goal :  $75000</li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Donete Now</a>
                                        </div>
                                    </div>
                                    <h2><a href="cause-details.html">Help For A Poet</a></h2>
                                    <span>Donte for life</span>
                                </div><!-- /.tr-causes -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.causes-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.tr-causes-section -->
        <!---------------- bloc cause ---------------------------->

    </div>
</template>