<template>
<div>
    <div >
        <nav id="tr_navbar" class="navbar fixed-top navbar-expand-lg" style="background:lightskyblue				;height:75px">
            <div class="container" id="app"  >

                <!--  --------------------------- logoooooo  -------------------------------------->
                <!--   <a class="navbar-brand" href="index-2.html">
                       <img src="temp/images/logo.png" alt="Logo" class="img-fluid tr-logo">
                       <img src="temp/images/logo1.png" alt="Logo" class="img-fluid tr-logo1">
                   </a>

                       -->

                        <img src="temp/images/baladia.png" alt="Logo" class="img-fluid tr-logo" width="30" height="30">




                <!--  --------------------------- logoooooo  -------------------------------------->
                <!--  --------------------------- btn menu  -------------------------------------->

                <!--  --------------------------- btn menu  -------------------------------------->
                <!--  --------------------------- Navbar  -------------------------------------->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
                    <ul class="navbar-nav"  >
                        <li>
                            <router-link to="/ContentAcceuil"  class="nav-link">Acceuil</router-link>
                        </li>

                        <li class="tr-dropdown">
                            <a href="index-2.html">Présentaion de la ville</a>
                            <ul class="tr-dropdown-menu">
                                <li> <router-link to="/STgeo"  class="nav-link">Situation géographique</router-link></li>
                                <li><router-link to="/batir"  target="_self" class="nav-link">Historique de la ville</router-link></li>
                                <li><a href="blog1.html">Ville en chiffre</a></li>
                                <li><a href="blog-details.html">Etablissements</a></li>
                            </ul>
                        </li>
                        <li class="tr-dropdown">
                            <a href="index-2.html">Présentation de la mairie</a>
                            <ul class="tr-dropdown-menu">
                                <li><a href="about.html">Date de création</a></li>
                                <li><a href="blog.html">Conseils municipaux</a></li>
                                <li><a href="blog1.html">Services municipaux</a></li>
                                <li><a href="blog-details.html">Réalisations</a></li>
                                <li><a href="blog-details.html">Anciens maires</a></li>
                            </ul>
                        </li>

                        <li class="tr-dropdown"><a href="#"> Services </a>
                            <ul class="tr-dropdown-menu">
                                <!--<li><a href="search.html">Search Page</a></li>-->
                                <li><router-link to="/ExtraitNaiss"  target="_self" class="nav-link">Extrait de Naissance</router-link></li>

                                <li><router-link to="/Addvocation"  target="_self" class="nav-link">Demande vocation</router-link></li>

                                <li><a @click="logout">Demande de batir</a></li>
                                <li><router-link to="/register"  target="_self" class="nav-link">Changement de propriete</router-link></li>
                                <li><router-link to="/Reclamation"  target="_self" class="nav-link">Ajouter reclamation</router-link></li>

                            </ul>
                        </li>

                        <li class="tr-dropdown" ><a href="#presentation">Guide Services</a>
                            <ul class="tr-dropdown-menu">
                                <!--<li><a href="search.html">Search Page</a></li>-->

                                <li><router-link to="/Guide"  target="_self" class="nav-link">Services d'état civil</router-link></li>
                                <li><router-link to="/Adminurbaine"  target="_self" class="nav-link">PRESTATIONS ADMINISTRATIVES URBAINES</router-link></li>
                                <li><router-link to="/Affadmin"  target="_self" class="nav-link">PRESTATIONS RELATIVES AUX AFFAIRES ADMINISTRATIVES</router-link></li>
                                <li><router-link to="/Affeco"  target="_self" class="nav-link">PRESTATIONS RELATIVES AUX AFFAIRES ECONOMIQUES</router-link></li>
                                <li><router-link to="/taxe"  target="_self" class="nav-link">PRESTAIONS RELATIVES AUX TAXES</router-link></li>


                            </ul>
                        </li>


                        <li><router-link to="/Contact"  target="_self" class="nav-link">Contact</router-link></li>


                        <li  v-if="isConnected" class="tr-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="position:relative; padding-left:50px;">
                                <!--<img  src="temp/images/baladia.png" style="width:32px; height:32px; position:absolute; top:10px; left:10px; border-radius:50%">-->
                                <span class="caret"></span>
                            </a>

                            <ul class="tr-dropdown-menu" role="menu">
                                <li><router-link to="/EditUser"  target="_self" class="nav-link">Profile</router-link><li>
                                <li><a @click="logout"><i class="fa fa-btn fa-sign-out"></i>disconecct</a></li>
                            </ul>
                        </li>
                        <li v-else="isConnected"></li>


                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>

    </div><!-- /.tr-menu -->
    <!-- navbar ----------------------------- -->


</div>
</template>
<script>
    export default {
        name: 'Header',
        data(){
            return {
                isConnected:true
            }
        },
        methods: {
  logout(){

        this.axios.get('/api/auth/logout').then((response) => {
            headers: {
                'Token'

                localStorage.getItem("Token");

            }
            localStorage.clear();
            this.$router.push({name: 'ContentAcceuil'})

            Vue.swal({
                type: "success",
                title: "Logout successfully"
            });
            window.location.reload(true);
        })


    },
        beforeUpdated() {


            if  (localStorage.getItem('Token')){
                this.isConnected=true


            }
            else {
                this.isConnected=false

            }

        },
            mounted(){

                this.axios.get("api/auth/usersh/1").then((response) => {
                   console.log(response.data);
                });
            }

    }
    }
</script>