<template>

    <div id="app">


        <!-- -------------------preloader --------------------------->
        <div id="preloader">
            <img src="temp/images/preloader.gif" alt="Image" class="tr-preloader img-fluid">
        </div>
        <!-- -------------------preloader --------------------------->
        <!-- navbar ----------------------------- -->
        <div class="tr-menu">
            <nav id="tr_navbar" class="navbar fixed-top navbar-expand-lg">
                <div class="container" >
                    <!--  --------------------------- logoooooo  -------------------------------------->
                    <!--   <a class="navbar-brand" href="index-2.html">
                           <img src="temp/images/logo.png" alt="Logo" class="img-fluid tr-logo">
                           <img src="temp/images/logo1.png" alt="Logo" class="img-fluid tr-logo1">
                       </a>
                       -->
                    <!--  --------------------------- logoooooo  -------------------------------------->

                    <!--  --------------------------- btn menu  -------------------------------------->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                    </button>
                    <!--  --------------------------- btn menu  -------------------------------------->


                    <!--  --------------------------- Navbar  -------------------------------------->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
                        <ul class="navbar-nav"  >
                            <li>
                                <router-link to="/acceuil"  class="nav-link">Acceuil</router-link>
                            </li>

                            <li class="tr-dropdown">
                                <a href="index-2.html">Présentaion de la ville</a>
                                <ul class="tr-dropdown-menu">
                                    <li> <router-link to="/acceuil"  target="_blank" class="nav-link">Situation géographique</router-link></li>
                                    <li><router-link to="/batir"  target="_self" class="nav-link">Historique de la ville</router-link></li>
                                    <li><a href="blog1.html">Ville en chiffre</a></li>
                                    <li><a href="blog-details.html">Etablissements</a></li>
                                </ul>
                            </li>
                            <li class="tr-dropdown">
                                <a href="index-2.html">Présentaion de la mairie</a>
                                <ul class="tr-dropdown-menu">
                                    <li><a href="about.html">Date de création</a></li>
                                    <li><a href="blog.html">Conseils municipaux</a></li>
                                    <li><a href="blog1.html">Services municipaux</a></li>
                                    <li><a href="blog-details.html">Réalisations</a></li>
                                    <li><a href="blog-details.html">Anciens maires</a></li>
                                </ul>
                            </li>
                            <li><a href="#batir">Services</a></li>
                            <li><a href="#blog">Forum</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <!--  <li class="tr-dropdown">
                                  <a href="index-2.html">Page</a>
                                  <ul class="tr-dropdown-menu">
                                      <li><a href="about.html">About Us</a></li>
                                      <li><a href="blog.html">Blog List Style</a></li>
                                      <li><a href="blog1.html">Blog Two Column</a></li>
                                      <li><a href="blog-details.html">Blog Details</a></li>
                                      <li><a href="cause-details.html">Causes Details</a></li>
                                      <li><a href="contact.html">Contact Us</a></li>
                                  </ul>
                              </li> -->
                        </ul>
                    </div>
                    <!--  --------------------------- Navbar  -------------------------------------->

                    <!--  --------------------------- connexion button  -------------------------------------->
                    <!-- /.tr-buttons -->


                    <!--  --------------------------- Donate button  -------------------------------------->



                </div><!-- /.container -->
            </nav>


        </div><!-- /.tr-menu -->
        <!-- navbar ----------------------------- -->
        <div class="tr-banner">
            <div class="banner-content section-before bg-image" style="background-image: url(temp/images/Mahdia.jpg);">
                <div class="container">
                    <div class="banner-info">
                        <h1>La commune de Kontich <span>met à votre disposition une variété des services en ligne</span></h1>
                        <center>    <router-link to="/acceuil"  target="_blank" class="nav-link">Situation géographique </router-link>

                            <a  class="btn btn-primary"  href="{{ url('/auth/register') }}">Inscription</a></center>

                    </div><!-- /.banner-info -->


                </div><!-- /.container -->
            </div><!-- /.banner-content -->
        </div>

        <!---------------- bloc service ---------------------------->

        <div>
            <router-view></router-view>
        </div>
        <!---------------- bloc service ---------------------------->

        <!----------------------------- footer ---------------------->
        <div class="tr-footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <span>All rights reserved 2019 </span>
                    </div>

                    <div class="footer-social">
                        <ul class="global-list">
                            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.footer-bottom -->
        </div><!-- /.tr-footer -->
        <!----------------------------- footer ---------------------->


    </div>


</template>