<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">

                <div class="row">
                    <div class="col-md-7">


                        <form @submit.prevent="addNaiss()">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>prenon:</label>
                                        <input type="text" class="form-control" v-model="naissance.prenon" name="prenon">
                                        <span v-if="errors.prenon" class="text-danger"  >{{errors.prenon[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>nom:</label>
                                        <input type="text" class="form-control" v-model="naissance.nom" name="nom">
                                        <span v-if="errors.nom" class="text-danger"  >{{errors.nom[0]}}</span>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>date_naiss:</label>
                                        <input type="text" class="form-control" v-model="naissance.date_naiss" name="date_naiss">
                                        <span v-if="errors.date_naiss" class="text-danger"  > {{errors.date_naiss[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>lieu_naiss:</label>
                                        <input type="text" class="form-control" v-model="naissance.lieu_naiss" name="lieu_naiss">
                                        <span v-if="errors.lieu_naiss" class="text-danger"  > {{errors.lieu_naiss[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>prenon_pere:</label>
                                        <input type="text" class="form-control" v-model="naissance.prenon_pere" name="prenon_pere">
                                        <span v-if="errors.prenon_pere" class="text-danger"  >{{errors.prenon_pere[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>prenon_mere:</label>
                                        <input type="text" class="form-control" v-model="naissance.prenon_mere" name="prenon_mere">
                                        <span v-if="errors.prenon_mere" class="text-danger"  >{{errors.prenon_mere[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>nom_mere:</label>
                                        <input type="text" class="form-control" v-model="naissance.nom_mere" name="nom_mere" >
                                        <span v-if="errors.nom_mere" class="text-danger"  >{{errors.nom_mere[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>file:</label>
                                        <input type="text" class="form-control" v-model="naissance.file" name="file">
                                        <span v-if="errors.file" class="text-danger"  >{{errors.file[0]}}</span>
                                    </div>
                                </div>


                                <input type="submit" class="btn btn-primary btn-full" value="Submit your message"></div>
                        </form>



                    </div>

                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-contact-section -->
</template>

<script>
    export default {
        data(){
            return {
                naissance:{},
                errors:[]
            }
        },
        methods: {
            test(){
                this.axios.post('/api/naiss', this.naissance);
            },
            addNaiss(){

                this.errors=[];
                this.axios.post('/api/naiss', this.naissance).then((response) => {


                    this.$router.push({name: 'Naissance'})
                    toast.fire({
                        type: 'success',
                        title: 'Naissance added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        }
    }
</script>
<style scoped>

</style>
