<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Edit Prop</h1>
                <form @submit.prevent="updateNaiss">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>prenon:</label>
                                <input type="text" class="form-control" v-model="naissance.prenon" name="prenon">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>nom:</label>
                                <input type="text" class="form-control" v-model="naissance.nom" name="nom">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>date_naiss:</label>
                                <input type="text" class="form-control" v-model="naissance.date_naiss" name="date_naiss">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>lieu_naiss:</label>
                                <input type="text" class="form-control" v-model="naissance.lieu_naiss" name="lieu_naiss">
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>prenon_pere:</label>
                                <input type="text" class="form-control" v-model="naissance.prenon_pere" name="prenon_pere">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>prenon_mere:</label>
                                <input type="text" class="form-control" v-model="naissance.prenon_mere" name="prenon_mere">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>nom_mere:</label>
                                <input type="text" class="form-control" v-model="naissance.nom_mere" name="nom_mere" >

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>file:</label>
                                <input type="text" class="form-control" v-model="naissance.file" name="file">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                naissance: {}
            }
        },
        created() {
            let uri = `api/naiss/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.naissance = response.data;
            });
        },
        methods: {
            updateNaiss() {
                let uri = `api/naiss/${this.$route.params.id}`;
                this.axios.patch(uri, this.naissance).then((response) => {
                    toast.fire({
                        type: 'success',
                        title: 'naissance Updated successfully'
                    })
                    this.$router.push({name: 'Naissance'});
                });
            }
        }
    }
</script>