<template>
    <div>

        <h1>Naissance</h1>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-6">
                <router-link :to="{ name: 'AddNaiss' }" class="btn btn-primary">Create naissance</router-link>
            </div>
        </div><br />




                 <div  style="overflow-x:auto;">
                <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>prenon</th>
                <th>nom</th>
                <th>date_naiss</th>
                <th>lieu_naiss</th>
                <th>prenon_pere</th>
                <th>prenon_mere</th>
                <th>non_mere</th>
                <th>file</th>
                <th>edit</th>
                <th>delete</th>



            </tr>
            </thead>
            <tbody>
            <tr v-for="naissance in naissances" :key="naissance.id">
                <td>{{naissance.id}}</td>
                <td>{{naissance.prenon}}</td>
                <td>{{naissance.nom}}</td>
                <td>{{naissance.date_naiss}}</td>
                <td>{{naissance.lieu_naiss}}</td>
                <td>{{naissance.prenon_pere}}</td>
                <td>{{naissance.prenon_mere}}</td>
                <td>{{naissance.nom_mere}}</td>
                <td>{{naissance.file}}</td>
                <td><router-link :to="{name: 'EditNaiss', params: { id: naissance.id }}" class="btn btn-primary">Edit</router-link></td>
                <td><button class="btn btn-danger" @click.prevent="deleteNaiss(naissance.id)">Delete</button></td>

            </tr>

            </tbody>
        </table>
                        </div>
        <div class="pagination">
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">

                Previous
            </button>


            <span> {{pagination.current_page}} Page Of {{pagination.last_page}}</span>
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.next_page_url)" :disabled="!pagination.next_page_url">

                Next
            </button>
        </div>
                    </div>
</template>


<script>

    export default {

        data() {
            return {
                naissances: [],
                pagination:[],
                url:'api/naiss'

            }

        },
        created(){


            this.getAll();

        },
        methods: {



            getAll(){
                this.axios.get(this.url).then(response => {
                    this.naissances = response.data.data

                    this.makePagination(response.data)
                });
            },
            deleteNaiss (id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/naiss/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your naissances has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },
            makePagination(data){
                let pagination= {
                    current_page:data.current_page,
                    last_page:data.last_page,
                    prev_page_url:data.prev_page_url,
                    next_page_url:data.next_page_url

                }
                this.pagination=pagination

            },
            fetchPaginatePubs(url){
                this.url=url;
                this.getAll();

            }

        }


    }


</script>
