<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">
                <div class="card card-default">
                    <div class="card-header">Profile</div>

                    <div class="row">
                        <div class="col-md-7">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input
                                                    class="form-control"
                                                    name="name"
                                                    type="text"
                                                    placeholder="Your Name..."
                                                    value
                                                    size="30"
                                                    aria-required="true"
                                                    required="required"
                                                    v-model="fields.name"
                                            >
                                            <span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.row -->
                                <div class="form-group">
                                    <input type="file"  name="avatar"
                                           class="form-control"

                                           rows="7"
                                           placeholder="avatar. . ."
                                           @change="onImageChange"
                                           accept="fileToAccept"

                                    >
                                    <span v-if="errors.avatar" class="text-danger">{{errors.avatar[0]}}</span>
                                </div>
                                <div class="form-group">
                                    <input
                                            type="password"
                                            name="password"
                                            class="form-control"
                                            required="required"
                                            rows="7"
                                            placeholder="Password. . ."
                                            v-model="fields.password"
                                    >
                                    <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
                                </div>
                                <div class="form-group">
                                    <input
                                            type="password"
                                            name="new_password"
                                            class="form-control"
                                            required="required"
                                            rows="7"
                                            placeholder="new_password. . ."
                                            v-model="fields.new_password"
                                    >
                                    <span v-if="errors.new_password" class="text-danger">{{errors.new_password[0]}}</span>
                                </div>
                                <div class="form-group">
                                    <input
                                            type="password"
                                            name="new_password_confirmation"
                                            class="form-control"
                                            required="required"
                                            rows="7"
                                            placeholder="password_confirmation . . ."
                                            v-model="fields.new_password_confirmation"
                                    >
                                    <span
                                            v-if="errors.password_confirmation"
                                            class="text-danger"
                                    >{{errors.new_password_confirmation[0]}}</span>
                                </div>

                                <button type="button" class="btn btn-primary btn-full" @click="Register">Register</button>
                            </form>
                            <!-- /.tr-form -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                fields: {},
                errors: [],
                fileToAccept:'image/*',
                file:""

            };
        },

        methods: {
            onImageChange(e) {
                console.log(e.target.files[0]);
                this.file = e.target.files[0];

            },
            Register() {
                this.errors = [];
                console.log(this.fields);
                // let x=localStorage.getItem("user_id");
                // console.log(x);

                axios.post("/api/auth/userProfile/".localStorage.getItem("user_id"), this.fields)
                    .then(response => {
                        this.$router.push({ name: "ContentAcceuil" });

                        Vue.swal({
                            type: "success",
                            title: "update with success"
                        });
                        window.location.reload(true);
                    })
                    .catch(error => {
                        Vue.swal({
                            type: "error",
                            title: "Vérifier les champs"
                        });
                        console.log(error)
                    });
            }
        },
        mounted: function() {}
    };
</script>