<template>
    <div>
        <h1>Users</h1>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">

                <button type="button" data-toggle="modal" data-target="#addPub">
                    Create User
                </button>
            </div>
        </div><br />

        <input @keyup="getAll" type="text" name="search" class="form-control" placeholder="Search..." v-model="search">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>avatar</th>
                <th>Name</th>
                <th>email</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.id">
                <td>{{user.id}}</td>
                <td> <img v-bind:src='/images/+ user.avatar' width="70px" height="70px" style="border-radius: 50%;"></td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>



            </tr>

            </tbody>
        </table>

    </div>
</template>


<script>

    export default {

        data() {
            return {
                users: [],
                pagination:[],
               // url:'api/actualite' ,
               // actualite:{},
                errors:[],
                cover:'',
                search:'',
                url:'api/usser'

            }

        },
        created(){


            this.getAll();

        },
        methods: {

            getAll(){
                this.axios.get(`${this.url}?search=${this.search}`).then(response => {
                    this.users= response.data
                    //this.makePagination(response.data)
                });
            },

        }


    }


</script>
