<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Create  event</h1>
                <form @submit.prevent="addevent()">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>description:</label>
                                <input type="text" class="form-control" v-model="event.description" name="description">
                                <span v-if="errors.description" class="text-danger"  >{{errors.description[0]}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>date_debut:</label>
                                <input type="text" class="form-control" v-model="event.date_debut" name="date_debut">
                                <span v-if="errors.date_debut" class="text-danger"  > {{errors.date_debut[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>date_cloture:</label>
                                <input type="text" class="form-control" v-model="event.date_cloture" name="date_cloture">
                                <span v-if="errors.date_cloture" class="text-danger"  > {{errors.date_cloture[0]}}</span>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>cover:</label>
                                <textarea class="form-control" v-model="event.cover" rows="5" name="cover"></textarea>
                                <span v-if="errors.cover" class="text-danger"  > {{errors.cover[0]}}</span>
                            </div>
                        </div>
                    </div><br />
                    <div class="form-group">
                        <button class="btn btn-primary">envoyer</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                event:{},
                errors:[]
            }
        },
        methods: {
            test(){
                this.axios.post('/api/event', this.event);
            },
            addevent(){

                this.errors=[];
                this.axios.post('/api/event', this.event).then((response) => {


                    this.$router.push({name: 'Event'})
                    toast.fire({
                        type: 'success',
                        title: 'Event added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        }
    }
</script>
