<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Update event</h1>
                <form @submit.prevent="updatebatir">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>description:</label>
                                <input type="text" class="form-control" v-model="event.description" name="description">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>date_debut:</label>
                                <input type="text" class="form-control" v-model="event.date_debut" name="date_debut">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>date_cloture:</label>
                                <input type="text" class="form-control" v-model="event.date_cloture" name="date_cloture">

                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>cover:</label>
                                <textarea class="form-control" v-model="event.cover" rows="5" name="cover"></textarea>

                            </div>
                        </div>
                    </div><br />
                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                event: {}
            }
        },
        created() {
            let uri = `api/event/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.event = response.data;
            });
        },
        methods: {
            updatebatir() {
                let uri = `api/event/${this.$route.params.id}`;
                this.axios.patch(uri, this.event).then((response) => {
                    toast.fire({
                        type: 'success',
                        title: 'event Updated successfully'
                    })
                    this.$router.push({name: 'Event'});
                });
            }
        }
    }
</script>