<template>
    <div id="contact" class="tr-contact-section">
        <div class="section-content tr-bg-white">
            <div class="container">

                <div class="row">
                    <div class="col-md-7">
                        <form @submit.prevent="addbatir()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>plan:</label>
                                        <input type="text" class="form-control" v-model="batir.plan" name="plan">
                                        <span v-if="errors.plan" class="text-danger"  >{{errors.plan[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>demande_signe:</label>
                                        <input type="text" class="form-control" v-model="batir.demande_signe" name="demande_signe">
                                        <span v-if="errors.demande_signe" class="text-danger"  > {{errors.demande_signe[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>titre:</label>
                                        <input type="text" class="form-control" v-model="batir.titre" name="titre">
                                        <span v-if="errors.titre" class="text-danger"  > {{errors.titre[0]}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>projet_construction:</label>
                                        <textarea class="form-control" v-model="batir.projet_construction" rows="5" name="projet_construction"></textarea>
                                        <span v-if="errors.projet_construction" class="text-danger"  > {{errors.projet_construction[0]}}</span>
                                    </div>
                                </div>

                                <input type="submit" class="btn btn-primary btn-full" value="Submit your message">
                            </div>
                        </form>
                    </div>

                </div>
            </div><!-- /.container -->
        </div><!-- /.section-content -->
    </div><!-- /.tr-contact-section -->
</template>

<script>
    export default {
        data(){
            return {
                batir:{},
                errors:[]
            }
        },
        methods: {

            addbatir(){

                this.errors=[];
                this.axios.post('/api/batir', this.batir).then((response) => {


                    this.$router.push({name: 'Listebatir'})
                    toast.fire({
                        type: 'success',
                        title: 'batir added successfully'
                    })



                }).catch(error=>{
                    if(error.response.status===422) {
                        this.errors = error.response.data.errors
                    }

                })
            }
        }
    }
</script>
<style scoped>

</style>