<template>


    <div class="tr-contact-section">

        <div class="card">
            <div class="card-body">
                <h1>Create A batir</h1>
                <form @submit.prevent="updatebatir">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>plan:</label>
                                <input type="text" class="form-control" v-model="batir.plan" name="plan">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>demande_signe:</label>
                                <input type="text" class="form-control" v-model="batir.demande_signe" name="demande_signe">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>titre:</label>
                                <input type="text" class="form-control" v-model="batir.titre" name="titre">

                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>projet_construction:</label>
                                <textarea class="form-control" v-model="batir.projet_construction" rows="5" name="projet_construction"></textarea>

                            </div>
                        </div>
                    </div><br />
                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                batir: {}
            }
        },
        created() {
            let uri = `api/batir/${this.$route.params.id}/edit`;
            this.axios.get(uri).then((response) => {
                this.batir = response.data;
            });
        },
        methods: {
            updatebatir() {
                let uri = `api/batir/${this.$route.params.id}`;
                this.axios.patch(uri, this.batir).then((response) => {
                    toast.fire({
                        type: 'success',
                        title: 'batir Updated successfully'
                    })
                    this.$router.push({name: 'Listebatir'});
                });
            }
        }
    }
</script>