<template>
    <div>
        <h1>Batir</h1>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-6">
                <router-link :to="{ name: 'batir' }" class="btn btn-primary">Create Batir</router-link>
            </div>
        </div><br />
        <div  style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>plan</th>
                <th>demande_signe</th>
                <th>titre</th>
                <th>projet_construction</th>
                <th>edit</th>
                <th>delete</th>


            </tr>
            </thead>
            <tbody>
            <tr v-for="batir in batirs" :key="batir.id">
                <td>{{batir.id}}</td>
                <td>{{batir.plan}}</td>
                <td>{{batir.demande_signe}}</td>
                <td>{{batir.titre}}</td>
                <td>{{batir.projet_construction}}</td>
                <td><router-link :to="{name: 'Editbatir', params: { id: batir.id }}" class="btn btn-primary">Edit</router-link></td>
                <td><button class="btn btn-danger" @click.prevent="deleteBatir(batir.id)">Delete</button></td>

            </tr>

            </tbody>
        </table>
        </div>
        <div class="pagination">
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.prev_page_url)" :disabled="!pagination.prev_page_url">

                Previous
            </button>


            <span> {{pagination.current_page}} Page Of {{pagination.last_page}}</span>
            <button class="btn btn-default" v-on:click="fetchPaginatePubs(pagination.next_page_url)" :disabled="!pagination.next_page_url">

                Next
            </button>
        </div>
    </div>
</template>


<script>

    export default {

        data() {
            return {
                batirs: [],
                pagination:[],
                url:'api/batir'

            }

        },
        created(){


            this.getAll();

        },
        methods: {



            getAll(){
                this.axios.get(this.url).then(response => {
                    this.batirs = response.data.data

                    this.makePagination(response.data)
                });
            },
            deleteBatir(id)
            {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {


                        this.axios.delete(`api/batir/`+id).then(response => {
                            this.getAll();



                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                        });
                    }
                })

            },
            makePagination(data){
                let pagination= {
                    current_page:data.current_page,
                    last_page:data.last_page,
                    prev_page_url:data.prev_page_url,
                    next_page_url:data.next_page_url

                }
                this.pagination=pagination

            },
            fetchPaginatePubs(url){
                this.url=url;
                this.getAll();

            }

        }


    }


</script>
